<div class="col-xs-12 ln-removeRightPadding" id="datainject_openoutlier"> 
    <div class="col-xs-12">
        <div class="row" id="episodesoutlierwithsummary"> 
            <div class="col-xs-12 text-center ln-borderRadiusTop ln-chartheader ln-RemovePadding ln-underlineCommonDark"> 
                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg"></span> 
                <span class="glyphicon btn-glyphs glyph_graphLeftButtons glyphicon-export pull-right"></span> 
                <h5>Summary (Totals)</h5> 
            </div>             
            <table class="table ln-borderstandard ln-RemoveBottomMargin table-bordered"> 
                <thead class="ln-tableHeader" ""=""> 
                    <tr style="display: table-row;">
                        <th class="text-center" style="display: table-cell;">Patient Risk</th>
                        <th class="text-center" style="display: table-cell;">Efficiency index</th>
                        <th class="text-center" style="display: table-cell;">Case Mix</th> 
                        <th class="text-center">Episodes</th>
                        <th class="text-center">Total Cost</th>
                        <th class="text-center">Pntl Cost Avoidance</th>
                        <th class="text-center" style="display: table-cell;">Avg Duration</th> 
                        <th class="text-center"># Admits</th> 
                    </tr>                     
                </thead>                 
                <tbody class="text-center"> 
                    <tr>
                        <td style="display: table-cell;"> 
                            <div class="ln-expected_color ln-insetShadowGreen ln-shadowEfficiency"> 
                                <span class="fa fa-check ln-faRight"></span> 
                                <span>1.1</span> 
                            </div>                             
                        </td>
                        <td style="display: table-cell;"> 
                            <div class="ln-overutilized_color ln-insetShadowRed ln-shadowEfficiency"> 
                                <span class="fa fa-level-up ln-faRight"></span>1.2
                            </div>                             
                        </td>
                        <td style="display: table-cell;"> 
                            <div class="ln-underutilization_color ln-insetShadowYellow ln-shadowEfficiency"> 
                                <span class="fa fa-level-down  ln-faRight"></span>0.4
                            </div>                             
                        </td>                         
                        <td>2000</td> 
                        <td>####</td> 
                        <td>####</td>
                        <td>####</td>
                        <td>####</td> 
                    </tr>                     
                </tbody>
            </table>
            <div class="col-xs-12"> 
                <div class="row text-center ln-borderRadiusTop ln-chartheader"> 
                    <div class="col-xs-12 ln-RemovePadding "> 
                        <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg"></span> 
                        <h5>Episodes</h5> 
                    </div>                     
                </div>                 
                <div class="row ln-borderstandard"> 
                    <div class="row action ln-padding-bottom4px"></div>                     
                    <div class="col-xs-12 ln-actionTopOffset"> 
                        <div class="row"> 
                            <div class="container-fluid pull-left"> 
                                <button onclick="showetgoutlier()" type="button" class="btn dropdown-toggle ln-shadowEfficiency ln-btnaction btn-sm btn-primary" data-toggle="dropdown">View by Episode Treatment Groups</button>                                 
                            </div>                             
                            <div class="container-fluid pull-left ln-RemovePadding hidden"> 
                                <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary" ui-sref="etglist" "">View by ETG</button>                                 
                            </div>                             
                            <div class="container-fluid pull-left ln-RemovePadding ln-GroupViewByOffset"> 
                                <div class="col-xs-12 ln-padding-bottom4px"> 
                                    <div class="dropdown"> 
                                        <div class="pull-left"> 
                                            <b>View by</b>:&nbsp;
                                        </div>                                         
                                        <div class="pull-left ln-pos-relative"> 
                                            <a data-toggle="dropdown" href="">Open</a> 
                                            <ol class="dropdown-menu pull-left list-unstyled" role="menu"> 
                                                <li> 
                                                    <a onclick="setOverallScoresProviderListSummary()">Open</a> 
                                                </li>                                                 
                                                <li> 
                                                    <a onclick="setOverallScoresProviderListDetails()">Outlier</a> 
                                                </li>                                                 
                                            </ol>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>
                                <div class="col-xs-12 hidden"> 
                                    <div class="ln-RemovePadding"> 
                                        <div class="pull-left">
                                            <b>View all episodes that are:&nbsp;</b>
                                        </div>                                         
                                        <div class="pull-left ln-pos-relative"> 
                                            <a data-toggle="dropdown" href="">Any Utilization</a> 
                                            <ol class="dropdown-menu pull-left list-unstyled" role="menu"> 
                                                <li> 
                                                    <a>Any Utilization</a> 
                                                </li>                                                 
                                                <li> 
                                                    <a>Under Utilization</a> 
                                                </li>                                                 
                                                <li> 
                                                    <a>Expected Utilization</a> 
                                                </li>                                                 
                                                <li> 
                                                    <a>Over Utilized</a> 
                                                </li>                                                 
                                            </ol>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                                                  
                            </div>                             
                        </div>                         
                    </div>                     
                    <div class="row"> 
                        <div class="container-fluid ln-tablebutton-action pull-right hidden" id="ComparisonPGModaLink"> 
                            <button type="button" class="btn ln-shadowEfficiency ln-btnaction">Comparison Peer Group</button>                             
                        </div>                         
                        <div class="col-xs-12"> 
                            <div class="table-responsive">
                                <table class="table ln-tabletextsize table-striped table-hover table-condensed ln-nowrap table-bordered" id="episodeoutlierlisttable"> 
                                    <thead class="shadow ln-tableHeader"> 
                                        <tr> 
                                            <th class="no-sort"> 
                                                <input class="control-label" type="checkbox" value=""> 
                                            </th>
                                            <th class="EpisodeDescription">Episode Description</th> 
                                            <th class="PatientName">Patient</th>
                                            <th class="Severity">Severity</th>
                                            <th class="PatientRisk">Patient Risk</th>
                                            <th class="Efficiency">Efficiency</th>
                                            <th class="CaseWeight">Case Weight</th>
                                            <th class="TotalCost">Total Cost</th>
                                            <th class="BenchmarkCostEpisode">Bmk Episode Cost</th> 
                                            <th class="PotentialCostAvoid">Pntl Cost Avoid</th>
                                            <th class="Age">Age</th>
                                            <th class="ResponsibleProvider">Responsible Prov</th> 
                                            <th class="EpisBeginDate">Episode Beg Dt</th> 
                                            <th class="EpisEndDate">Episode End Date</th> 
                                            <th class="EpisodeDuration">Episode Duration</th> 
                                            <th class="BenchmarkEpiDuration">Bmk Duration</th> 
                                            <th class="NumberofAdmits"># Admits</th> 
                                        </tr>                                         
                                    </thead>                                     
                                    <!--Entry that has been selected !Highlighted blue selected -->                                     
                                </table>                                                                  
                            </div>                             
                            <div class="col-xs-12"> 
</div>                             
                        </div>                         
                    </div>                     
                </div>                 
                <div class="row"> 
                    <div class="col-xs-12 col-sm-12 col-xs-12 col-lg-12"> 
                        <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                            Save column order
</button>                         
                        <div class="container-fluid pull-left ln-removeLeftPadding"> 
                            <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                                Reset column order
</button>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </div>         
        <div class="row" id="etgoutlierwithsummary"> 
            <div class="col-xs-12 text-center ln-borderRadiusTop ln-chartheader ln-RemovePadding ln-underlineCommonDark"> 
                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg"></span> 
                <span class="glyphicon btn-glyphs glyph_graphLeftButtons glyphicon-export pull-right"></span> 
                <h5>Summary (Totals)</h5> 
            </div>             
            <table class="table ln-borderstandard ln-RemoveBottomMargin table-bordered"> 
                <thead class="ln-tableHeader" ""=""> 
                    <tr style="display: table-row;">
                        <th class="text-center" style="display: table-cell;">Patient Risk</th>
                        <th class="text-center" style="display: table-cell;">Efficiency index</th>
                        <th class="text-center" style="display: table-cell;">Case Mix</th> 
                        <th class="text-center"># Specialties</th>
                        <th class="text-center"># Providers</th>
                        <th class="text-center"># Patients</th>
                        <th class="text-center" style="display: table-cell;"># Episodes</th> 
                        <th class="text-center">Total Cost</th>
                        <th class="text-center">Potential Cost Avoid</th> 
                    </tr>                     
                </thead>                 
                <tbody class="text-center"> 
                    <tr>
                        <td style="display: table-cell;"> 
                            <div class="ln-expected_color ln-insetShadowGreen ln-shadowEfficiency"> 
                                <span class="fa fa-check ln-faRight"></span> 
                                <span>1.1</span> 
                            </div>                             
                        </td>
                        <td style="display: table-cell;"> 
                            <div class="ln-overutilized_color ln-insetShadowRed ln-shadowEfficiency"> 
                                <span class="fa fa-level-up ln-faRight"></span>1.2
                            </div>                             
                        </td>
                        <td style="display: table-cell;"> 
                            <div class="ln-underutilization_color ln-insetShadowYellow ln-shadowEfficiency"> 
                                <span class="fa fa-level-down  ln-faRight"></span>0.4
                            </div>                             
                        </td>                         
                        <td>2000</td> 
                        <td>####</td> 
                        <td>####</td>
                        <td>####</td>
                        <td>$,$$$,$$$</td>
                        <td>$,$$$,$$$</td> 
                    </tr>                     
                </tbody>
            </table>
            <div class="col-xs-12"> 
                <div class="row text-center ln-borderRadiusTop ln-chartheader"> 
                    <div class="col-xs-12 ln-RemovePadding "> 
                        <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg"></span> 
                        <h5>Episode Treatment Groups</h5> 
                    </div>                     
                </div>                 
                <div class="row ln-borderstandard"> 
                    <div class="row action ln-padding-bottom4px"></div>                     
                    <div class="col-xs-12 ln-actionTopOffset"> 
                        <div class="row"> 
                            <div class="container-fluid pull-left"> 
                                <button onclick="showepisodesoutlier()" type="button" class="btn dropdown-toggle ln-shadowEfficiency ln-btnaction btn-sm btn-primary" data-toggle="dropdown">View by Episodes</button>                                 
                            </div>
                            <div class="container-fluid pull-left ln-RemovePadding hidden"> 
                                <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary" ui-sref="etglist" "">View by ETG</button>                                 
                            </div>                             
                            <div class="container-fluid pull-left ln-RemovePadding ln-GroupViewByOffset"> 
                                <div class="col-xs-12 ln-padding-bottom4px"> 
                                    <div class="dropdown"> 
                                        <div class="pull-left"> 
                                            <b>View by</b>:&nbsp;
                                        </div>                                         
                                        <div class="pull-left ln-pos-relative"> 
                                            <a data-toggle="dropdown" href="">Open</a> 
                                            <ol class="dropdown-menu pull-left list-unstyled" role="menu"> 
                                                <li> 
                                                    <a>Open</a> 
                                                </li>                                                 
                                                <li> 
                                                    <a>Outlier</a> 
                                                </li>                                                 
                                            </ol>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                                <div class="col-xs-12" data-pg-hidden> 
                                    <div class="ln-RemovePadding"> 
                                        <div class="pull-left">
                                            <b>View all episodes that are:&nbsp;</b>
                                        </div>                                         
                                        <div class="pull-left ln-pos-relative"> 
                                            <a data-toggle="dropdown" href="">Any Utilization</a> 
                                            <ol class="dropdown-menu pull-left list-unstyled" role="menu"> 
                                                <li> 
                                                    <a>Any Utilization</a> 
                                                </li>                                                 
                                                <li> 
                                                    <a>Under Utilization</a> 
                                                </li>                                                 
                                                <li> 
                                                    <a>Expected Utilization</a> 
                                                </li>                                                 
                                                <li> 
                                                    <a>Over Utilized</a> 
                                                </li>                                                 
                                            </ol>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                    <div class="row"> 
                        <div class="container-fluid ln-tablebutton-action pull-right hidden" id="ComparisonPGModaLink"> 
                            <button type="button" class="btn ln-shadowEfficiency ln-btnaction">Comparison Peer Group</button>                             
                        </div>                         
                        <div class="col-xs-12"> 
                            <div class="table-responsive"> 
                                <table class="table table-striped table-hover table-condensed ln-nowrap table-bordered" id="etgoutlierlisttable">
                                    <thead class="shadow ln-tableHeader"> 
                                        <tr> 
                                            <th class="no-sort"> 
                                                <input class="control-label" type="checkbox" value=""> 
                                            </th>
                                            <th>ETG</th> 
                                            <th>Patient Risk</th>
                                            <th>Efficiency</th>
                                            <th>Case Mix</th>
                                            <th># Specialties</th>
                                            <th># Providers</th> 
                                            <th># Patients</th>
                                            <th># Episodes</th>
                                            <th>Total Cost</th> 
                                            <th>Bmk Avg Episode Cost</th> 
                                            <th>Avg Episode Cost</th> 
                                            <th>Avg Cost Var</th> 
                                            <th>Pntl Cost Avoid</th> 
                                            <th>Avg Duration</th> 
                                        </tr>                                         
                                    </thead>                                     
                                    <!--Entry that has been selected !Highlighted blue selected -->                                     
                                </table>                                 
                            </div>                             
                            <div class="col-xs-12"> 
</div>                             
                        </div>                         
                    </div>                     
                </div>                 
                <div class="row"> 
                    <div class="col-xs-12 col-sm-12 col-xs-12 col-lg-12"> 
                        <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                            Save column order
</button>                         
                        <div class="container-fluid pull-left ln-removeLeftPadding"> 
                            <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                                Reset column order
</button>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </div>         
    </div>     
</div>