<div class="col-xs-12" id="datainject"> 
    <!-- UI-VIEW TELLS ANGULARUI WHERE TO ROUTE THE HTML PARTIALS
                                            <div ui-view></div>-->     
    <div class="col-xs-12" id="container_pharmacy"> 
        <div class="row"> 
            <div class="ln-margin-top col-xs-6"> 
                <div class="panel panel-default ln-RemoveBottomMargin" id="episodeofcare-static"> 
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-lg fa-paperclip hidden"></span> 
                    <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse">
                        <h5 class="text-center"> 
                                                                    Pharmacy Forecasted Cost Difference </h5>
                    </div>                     
                    <div class="ln-borderstandard">
                        <div class="row">
                            <div class="container-fluid  pharmacy_charts"> 
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 377.6 254.6" style="enable-background:new 0 0 377.6 254.6;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:#494949;stroke:#919191;stroke-miterlimit:10;}
                                                                                    .st1{font-family:'Arial';}
                                                                                    .st2{font-size:12px;}
                                                                                    .st3{display:none;}
                                                                                    .st4{fill:#008000;}
                                                                                    .st5{fill:#00A2E8;}
                                                                                    .st6{fill:#0000FF;}

</style>
                                    <g transform="translate(70,10)">
                                        <g>
                                            <g transform="translate(0,200)">
                                                <line class="st0" x1="-0.8" y1="0" x2="269.2" y2="0" />
                                                <text transform="matrix(1 0 0 1 -17.0987 3.84)" class="st1 st2">$0</text>
                                            </g>
                                            <g transform="translate(0,156)">
                                                <line class="st0" x1="-0.8" y1="0" x2="269.2" y2="0" />
                                                <text transform="matrix(1 0 0 1 -40.4542 3.84)" class="st1 st2">$1,000</text>
                                            </g>
                                            <g transform="translate(0,111)">
                                                <line class="st0" x1="-0.8" y1="0" x2="269.2" y2="0" />
                                                <text transform="matrix(1 0 0 1 -40.4542 3.84)" class="st1 st2">$2,000</text>
                                            </g>
                                            <g transform="translate(0,67)">
                                                <line class="st0" x1="-0.8" y1="0" x2="269.2" y2="0" />
                                                <text transform="matrix(1 0 0 1 -40.4542 3.84)" class="st1 st2">$3,000</text>
                                            </g>
                                            <g transform="translate(0,23)">
                                                <line class="st0" x1="-0.8" y1="0" x2="269.2" y2="0" />
                                                <text transform="matrix(1 0 0 1 -40.4542 3.84)" class="st1 st2">$4,000</text>
                                            </g>
                                            <path class="st3" d="M269.2,0h-270v200h270" />
                                        </g>
                                        <a ui-sref="pharmacy_patients">
                                            <rect x="29.2" y="67" class="st4" width="67.5" height="133" />
                                        </a>
                                        <a ui-sref="pharmacy_patients">
                                            <rect x="149.2" y="50" class="st5" width="67.5" height="150" />
                                        </a>
                                        <a ui-sref="pharmacy_patients">
                                            <text transform="matrix(1 0 0 1 41.2903 215)" class="st6 st1 st2">$2,989</text>
                                            <text transform="matrix(1 0 0 1 -3.0476 230.2)" class="st6 st1 st2">Forecasted Cost PMPM</text>
                                        </a>
                                        <a ui-sref="pharmacy_patients">
                                            <text transform="matrix(1 0 0 1 165.7485 215)" class="st6 st1 st2">$3,381</text>
                                            <text transform="matrix(1 0 0 1 134.7494 230.2)" class="st6 st1 st2">Actual Cost PMPM</text>
                                        </a>
                                    </g>
                                </svg>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>
            <div class="ln-margin-top col-xs-6"> 
                <div class="panel panel-default ln-RemoveBottomMargin" id="episodeofcare-static"> 
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-lg fa-paperclip hidden"></span> 
                    <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse">
                        <h5 class="text-center"> 
                                                                    Maintenance Drug Compliance </h5>
                    </div>                     
                    <div class="ln-borderstandard">
                        <div class="row">
                            <div class="container-fluid pharmacy_charts">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 317 195.5" style="enable-background:new 0 0 317 195.5;" xml:space="preserve">
                                    <style type="text/css">
                                        .mdc_st0{fill:#00A2E8;stroke:#FFFFFF;stroke-width:1.5;}
                                                                                    .mdc_st1{display:none;enable-background:new    ;}
                                                                                    .mdc_st2{font-family:'Arial';}
                                                                                    .mdc_st3{font-size:13px;}
                                                                                    .mdc_st4{fill:#D68888;stroke:#FFFFFF;stroke-width:1.5;}
                                                                                    .mdc_st5{fill:#800080;stroke:#FFFFFF;stroke-width:1.5;}
                                                                                    .mdc_st6{fill:#6AA34D;stroke:#FFFFFF;stroke-width:1.5;}
                                                                                    .mdc_st7{fill:#FF8000;stroke:#FFFFFF;stroke-width:1.5;}
                                                                                    .mdc_st8{fill:#00A2E8;stroke:#000000;stroke-width:0.5;}
                                                                                    .mdc_st9{fill:#D68888;stroke:#000000;stroke-width:0.5;}
                                                                                    .mdc_st10{fill:#800080;stroke:#000000;stroke-width:0.5;}
                                                                                    .mdc_st11{fill:#6AA34D;stroke:#000000;stroke-width:0.5;}
                                                                                    .mdc_st12{fill:#FF8000;stroke:#000000;stroke-width:0.5;}
                                                                                    .textfill1{fill:white;}
                                                                                    .textfill2{fill: black;}

</style>
                                    <g transform="translate(20)">
                                        <g transform="translate(200.008)">
                                            <a ui-sref="pharmacy_patients"></a>
                                        </g>
                                        <g transform="translate(80 135)">
                                            <a ui-sref="pharmacy_patients">
                                                <path id="_x23_maincomp_x5F_chart_.ln-chart_x5F_0-20_x25_" class="mdc_st0" d="M-8.7-114.5c2.9-0.3,5.8-0.5,8.7-0.5v80L-8.7-114.5z" />
                                                <text transform="matrix(1 0 0 1 -19.926 -84.8937)" class="mdc_st1 mdc_st2 mdc_st3 ">1.74%</text>
                                            </a>
                                            <a ui-sref="pharmacy_patients">
                                                <path id="_x23_maincomp_x5F_chart_.ln-chart_x5F__x3E_20-40_x25_" class="mdc_st4" d="M-30.6-108.9c7-2.9,14.3-4.8,21.9-5.6L0-35
				L-30.6-108.9z" />
                                                <text transform="matrix(1 0 0 1 -30.2474 -83.3051)" class="mdc_st1 mdc_st2 mdc_st3">4.50%</text>
                                            </a>
                                            <a ui-sref="pharmacy_patients">
                                                <path id="_x23_maincomp_x5F_chart_.ln-chart_x5F__x3E_40-60_x25_" class="mdc_st5" d="M-64.1-82.8c8.6-11.6,20.2-20.6,33.6-26.1L0-35
				L-64.1-82.8z" />
                                                <text transform="matrix(1 0 0 1 -49.7659 -73.7313)" class="mdc_st1 mdc_st2 mdc_st3">8.56%</text>
                                            </a>
                                            <a ui-sref="pharmacy_patients">
                                                <path id="_x23_maincomp_x5F_chart_.ln-chart_x5F__x3E_60-80_x25_" class="mdc_st6" d="M-66.6,9.3c-18.7-28.1-17.8-65,2.4-92.1L0-35
				L-66.6,9.3z" />
                                                <text transform="matrix(1 0 0 1 -73.6642 -33.0536)" class="mdc_st2 mdc_st3 textfill1">19.54%</text>
                                            </a>
                                            <a ui-sref="pharmacy_patients">
                                                <path id="_x23_maincomp_x5F_chart_.ln-chart_x5F__x3E_80-100_x25_" class="mdc_st7" d="M0-115c44.2,0,80,35.8,80,80S44.2,45,0,45
				c-26.8,0-51.8-13.4-66.6-35.7L0-35V-115z" />
                                                <text transform="matrix(1 0 0 1 16.6664 -19.4618)" class="mdc_st2 mdc_st3 textfill1">65.65%</text>
                                            </a>
                                        </g>
                                        <g transform="translate(200.008 60)">
                                            <rect x="0" y="-40" class="mdc_st8" width="10" height="10" />
                                            <rect x="0" y="-5" class="mdc_st9" width="10" height="10" />
                                            <rect x="0" y="30" class="mdc_st10" width="10" height="10" />
                                            <rect x="0" y="65" class="mdc_st11" width="10" height="10" />
                                            <rect x="0" y="100" class="mdc_st12" width="10" height="10" />
                                            <a ui-sref="pharmacy_patients">
                                                <text transform="matrix(1 0 0 1 20 -30.2)" class="mdc_st2 mdc_st3">0-20%</text>
                                            </a>
                                            <a ui-sref="pharmacy_patients">
                                                <text transform="matrix(1 0 0 1 20 4.8)" class="mdc_st2 mdc_st3">&gt;20-40%</text>
                                            </a>
                                            <a ui-sref="pharmacy_patients">
                                                <text transform="matrix(1 0 0 1 20 39.8)" class="mdc_st2 mdc_st3">&gt;40-60%</text>
                                            </a>
                                            <a ui-sref="pharmacy_patients">
                                                <text transform="matrix(1 0 0 1 20 74.8)" class="mdc_st2 mdc_st3">&gt;60-80%</text>
                                            </a>
                                            <a ui-sref="pharmacy_patients">
                                                <text transform="matrix(1 0 0 1 20 109.8)" class="mdc_st2 mdc_st3">&gt;80-100%</text>
                                            </a>
                                        </g>
                                    </g>
                                </svg>
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>
            <div class="ln-margin-top col-xs-6"> 
                <div class="panel panel-default ln-RemoveBottomMargin" id="episodeofcare-static"> 
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-lg fa-paperclip hidden"></span> 
                    <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse">
                        <h5 class="text-center"> 
                                                                    Generic Substitution </h5>
                    </div>                     
                    <div class="ln-borderstandard">
                        <div class="row">
                            <div class="container-fluid  pharmacy_charts">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 284 192" style="enable-background:new 0 0 284 192;" xml:space="preserve">
                                    <style type="text/css">
                                        .nbu_st0{fill:#FF8000;stroke:#FFFFFF;stroke-width:1.5;}
                                                                                    .nbu_st1{fill:#00A2E8;stroke:#FFFFFF;stroke-width:1.5;}
                                                                                    .nbu_st2{font-family:'Arial';}
                                                                                    .nbu_st3{font-size:12px;}
                                                                                    .nbu_st4{fill:#FF8000;stroke:#000000;stroke-width:0.5;}
                                                                                    .nbu_st5{fill:#00A2E8;stroke:#000000;stroke-width:0.5;}

</style>
                                    <g transform="translate(20)">
                                        <g transform="translate(200.01)">
</g>
                                        <g transform="translate(80 135)">
                                            <a ui-sref="pharmacy_patients">
                                                <path id="_x23_gensubs_x5F_chart_.ln-chart_x5F_Brand" class="nbu_st0" d="M-71.4-72.7c13.6-27,41.2-44,71.4-44v80L-71.4-72.7z" />
                                                <path id="_x23_gensubs_x5F_chart_.ln-chart_x5F_Generic" class="nbu_st1" d="M0-116.7c44.2,0,80,35.8,80,80s-35.8,80-80,80
			s-80-35.8-80-80c0-12.5,2.9-24.8,8.6-36L0-36.7V-116.7z" />
                                                <text transform="matrix(1 0 0 1 -48.3177 -78.7185)" class="nbu_st2 nbu_st3 textfill1">17.57%</text>
                                                <text transform="matrix(1 0 0 1 5.2852 -8.8949)" class="nbu_st2 nbu_st3 textfill1">82.43%</text>
                                            </a>
                                        </g>
                                        <g transform="translate(200.01 60)">
                                            <a ui-sref="pharmacy_patients">
                                                <rect x="-15.7" y="13.5" class="nbu_st4" width="10" height="10" />
                                                <rect x="-15.7" y="48.5" class="nbu_st5" width="10" height="10" />
                                                <text transform="matrix(1 0 0 1 4.3333 23.3)" class="nbu_st2 nbu_st3">Brand</text>
                                                <text transform="matrix(1 0 0 1 4.3333 58.3)" class="nbu_st2 nbu_st3">Generic</text>
                                            </a>
                                        </g>
                                    </g>
                                </svg>
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>
            <div class="ln-margin-top col-xs-6"> 
                <div class="panel panel-default ln-RemoveBottomMargin" id="episodeofcare-static"> 
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-lg fa-paperclip hidden"></span> 
                    <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse">
                        <h5 class="text-center"> 
                                                                    Narcotic and Benzodiazepine Use </h5>
                    </div>                     
                    <div class="ln-borderstandard">
                        <div class="row">
                            <div class="container-fluid  pharmacy_charts">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 373.5 263" style="enable-background:new 0 0 373.5 263;" xml:space="preserve">
                                    <style type="text/css">
                                        .nbxust0{font-family:'Arial';}
                                                                                    .nbxust1{font-size:12px;}
                                                                                    .nbxust2{fill:none;}
                                                                                    .nbxust3{fill:none;stroke:#9B9B9B;stroke-miterlimit:10;}
                                                                                    .nbxust4{fill:#00A2E8;}

</style>
                                    <g transform="translate(60 10)">
                                        <text transform="matrix(6.123234e-017 -1 1 6.123234e-017 -43 155)" class="nbxust0 nbxust1">% Population</text>
                                        <g transform="translate(0 215)">
                                            <g transform="translate(40)">
                                                <line class="nbxust2" x1="0" y1="0" x2="0" y2="6" />
                                                <text transform="matrix(1 0 0 1 -28.3389 14.52)" class="nbxust0 nbxust1">Narcotics:</text>
                                                <text transform="matrix(1 0 0 1 25.0049 14.52)" class="nbxust0 nbxust1"> </text>
                                                <text transform="matrix(1 0 0 1 -36.8496 27.72)" class="nbxust0 nbxust1">&gt; 10 Scripts...</text>
                                            </g>
                                            <a ui-sref="pharmacy_patients" transform="translate(140)">
                                                <g>
                                                    <line class="nbxust2" x1="0" y1="0" x2="0" y2="6" />
                                                    <text transform="matrix(1 0 0 1 -28.3389 14.52)" class="nbxust0 nbxust1">Narcotics:</text>
                                                    <text transform="matrix(1 0 0 1 25.0049 14.52)" class="nbxust0 nbxust1"> </text>
                                                    <text transform="matrix(1 0 0 1 -33.5127 27.72)" class="nbxust0 nbxust1">&gt; 3 Scripts...</text>
                                                </g>
                                            </a>
                                            <a ui-sref="pharmacy_patients" transform="translate(240)">
                                                <g>
                                                    <line class="nbxust2" x1="0" y1="0" x2="0" y2="6" />
                                                    <text transform="matrix(1 0 0 1 -49.0342 14.52)" class="nbxust0 nbxust1">Benzodiazepines:</text>
                                                    <text transform="matrix(1 0 0 1 45.7002 14.52)" class="nbxust0 nbxust1"> </text>
                                                    <text transform="matrix(1 0 0 1 -33.3018 27.72)" class="nbxust0 nbxust1">≥ 2 Scripts...</text>
                                                </g>
                                            </a>
                                        </g>
                                        <g>
                                            <g transform="translate(0 215)">
                                                <line class="nbxust3" x1="0" y1="0" x2="300" y2="0" />
                                                <text transform="matrix(1 0 0 1 -30.3516 3.84)" class="nbxust0 nbxust1">0.0%</text>
                                            </g>
                                            <g transform="translate(0 164)">
                                                <line class="nbxust3" x1="0" y1="0" x2="300" y2="0" />
                                                <text transform="matrix(1 0 0 1 -30.3516 3.84)" class="nbxust0 nbxust1">0.1%</text>
                                            </g>
                                            <g transform="translate(0 112)">
                                                <line class="nbxust3" x1="0" y1="0" x2="300" y2="0" />
                                                <text transform="matrix(1 0 0 1 -30.3516 3.84)" class="nbxust0 nbxust1">0.2%</text>
                                            </g>
                                            <g transform="translate(0 61)">
                                                <line class="nbxust3" x1="0" y1="0" x2="300" y2="0" />
                                                <text transform="matrix(1 0 0 1 -30.3516 3.84)" class="nbxust0 nbxust1">0.3%</text>
                                            </g>
                                            <g transform="translate(0 9)">
                                                <line class="nbxust3" x1="0" y1="0" x2="300" y2="0" />
                                                <text transform="matrix(1 0 0 1 -30.3516 3.84)" class="nbxust0 nbxust1">0.4%</text>
                                            </g>
                                        </g>
                                        <a ui-sref="pharmacy_patients">
                                            <polygon class="nbxust4" points="15,215 65,215 65,215 		" />
                                        </a>
                                        <a ui-sref="pharmacy_patients">
                                            <rect x="115" y="198" class="nbxust4" width="50" height="17" />
                                        </a>
                                        <a ui-sref="pharmacy_patients">
                                            <rect x="215" y="6" class="nbxust4" width="50" height="209" />
                                        </a>
                                    </g>
                                </svg>
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="row text-center ln-borderRadiusTop ln-chartheader">
                        <div class="col-xs-12 ln-RemovePadding"> 
                            <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg"></span> 
                            <span class="fa fa-plus-circle btn-glyphs fa-lg pull-left invisible" title="Column Options"></span> 
                            <h5>Provider List </h5> 
                        </div>                         
                    </div>
                    <div class="row ln-borderstandard"> 
                        <div class="col-xs-12 ln-actionTopOffset"> 
                            <div class="row ln-margin-top-4px"> 
                                <div class="container-fluid pull-left" id="actions"> 
                                    <div class="btn-group pull-left"> 
                                        <button type="button" class="btn dropdown-toggle ln-shadowEfficiency ln-btnaction btn-sm btn-primary" data-toggle="dropdown"> 
                                            Actions
</button>                                         
                                        <ul class="dropdown-menu" role="menu"> 
                                            <li> 
                                                <a href="">Apply Selections to current page</a> 
                                            </li>                                             
                                            <li class="divider"></li>                                             
                                            <li> 
                                                <a href="">Clear Selection</a> 
                                            </li>                                             
                                        </ul>                                         
                                    </div>                                     
                                </div>                                 
                                <div class="btn-group pull-left"> 
                                    <button type="button" class="btn dropdown-toggle ln-shadowEfficiency ln-btnaction btn-sm btn-primary" data-toggle="dropdown"> 
                                        Select and Navigate to:
</button>                                     
                                    <ul class="dropdown-menu" role="menu"> 
                                        <li> 
                                            <a href="">Compare Efficiency</a> 
                                        </li>                                         
                                        <li> 
                                            <a href="">Compare Performance</a> 
                                        </li>                                         
                                        <li> 
                                            <a href="">Compare Scores</a> 
                                        </li>                                         
                                        <li> 
                                            <a href="">Measure Compliance</a> 
                                        </li>                                         
                                        <li> 
                                            <a href="">Referral Patterns</a> 
                                        </li>                                         
                                        <li> 
                                            <a href="">ETG Performance</a> 
                                        </li>                                         
                                    </ul>                                     
                                </div>
                                <div class="container-fluid pull-left ln-RemovePadding ln-GroupViewByOffset"> 
                                    <div class="col-xs-12"> 
                                        <div class="ln-RemovePadding">
                                            <div class="pull-left"> 
                                                <b>Group By:</b> 
                                            </div>                                             
                                            <div class="pull-left ln-pos-relative">
                                                <a data-toggle="dropdown" href="">Providers</a> 
                                                <ol class="dropdown-menu list-unstyled pull-left" role="menu"> 
                                                    <li> 
                                                        <a>Providers</a> 
                                                    </li>
                                                    <li> 
                                                        <a>Specialties</a> 
                                                    </li>                                                     
                                                    <li> 
                                                        <a>Network</a> 
                                                    </li>                                                     
                                                    <li> 
                                                        <a>Peer Group</a> 
                                                    </li>
                                                </ol>                                                 
                                            </div>                                             
                                        </div>                                         
                                    </div>                                     
                                    <div class="col-xs-12 ln-padding-bottom4px hidden"> 
                                        <div class="dropdown"> 
                                            <div class="pull-left"> 
                                                <b>View by</b>:&nbsp;
                                            </div>                                             
                                            <div class="pull-left ln-pos-relative"> 
                                                <a data-toggle="dropdown" href="">Episode Responsible</a> 
                                                <ol class="dropdown-menu pull-left list-unstyled" role="menu"> 
                                                    <li> 
                                                        <a onclick="setOverallScoresProviderListSummary()">Summary View</a> 
                                                    </li>                                                     
                                                    <li> 
                                                        <a onclick="setOverallScoresProviderListDetails()">Detail View</a> 
                                                    </li>                                                     
                                                    <li class="divider"></li>                                                     
                                                    <li> 
                                                        <a>My Named Custom View</a> 
                                                    </li>                                                     
                                                    <li> 
                                                        <a>Save Custom View</a> 
                                                    </li>                                                     
                                                    <li> 
                                                        <a>Remove Custom View</a> 
                                                    </li>                                                     
                                                </ol>                                                 
                                            </div>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                        <div class="row"> 
                            <div class="container-fluid ln-tablebutton-action pull-right hidden" id="ComparisonPGModaLink"> 
                                <button type="button" class="btn ln-shadowEfficiency ln-btnaction">Comparison Peer Group</button>                                 
                            </div>                             
                            <div class="col-xs-12"> 
                                <div class="table-responsive">
                                    <table class="table ln-tabletextsize table-bordered table-condensed table-striped" id="pharmacy_provider_list"> 
                                        <thead class="ln-tableHeader"> 
                                            <tr>
                                                <th class="no-sort">
                                                    <input class="control-label" type="checkbox" value=""> 
                                                </th>                                                 
                                                <th class="">Provider&nbspName</th> 
                                                <th>Forecasted RX PMPM</th>
                                                <th>Actual&nbspRx<br>PMPM</th> 
                                                <th>Compliance 0-20%</th>
                                                <th>Compliance >20-40%</th>
                                                <th>Compliance >40-60%</th>
                                                <th>Compliance >60-80%</th>
                                                <th>Compliance >80-100%</th>
                                                <th>%&nbspBrand</th> 
                                                <th>%&nbspGeneric</th> 
                                                <th>%&nbspNarcotic >10</th> 
                                                <th>%&nbspNarcotic >3</th> 
                                                <th>%&nbspBenzodiazepines</th>
                                            </tr>                                             
                                        </thead>                                         
                                        <!--Entry that has been selected !Highlighted blue selected -->                                         
                                    </table>
                                </div>                                 
                                <div class="col-xs-12"> 
</div>                                 
                            </div>                             
                        </div>                         
                    </div>
                    <div class="row"> 
                        <div class="col-xs-12 col-sm-12 col-xs-12 col-lg-12"> 
                            <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                                Save column order
</button>                             
                            <div class="container-fluid pull-left ln-removeLeftPadding"> 
                                <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                                    Reset column order
</button>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </div>         
    </div>     
    <!-- IF YOU WANT TO EXPERIMENT WITH HOW CONTENT WILL LOOK, COMMENT OUT THE UI VIEW AND PLACE CONTENT  -->     
</div>