<div class="col-xs-12 " id="datainject_etglist_surgical">
    <div class="row" id="charts">
        <div class="col-xs-12 ln-removeRightPadding" id="physiciancharts">
            <div class="col-xs-12 text-center ln-borderRadiusTop ln-chartheader ln-RemovePadding ln-underlineCommonDark">
                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg hidden"></span> 
                <h5>With Surgery / Without Surgery Averages</h5> 
            </div>
            <div class="col-xs-12 text-center ln-borderstandard ln-chartbg" id="overallefficiencygauge_container">
                <div class="col-xs-12 ln-paddingtop_10px ln-padding-bottom4px">
                    <div class="progress ln-RemoveBottomMargin ln-roundededges ln-shadow">
                        <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:10%"></a>
                        <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:90%"></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="progress marginbottomsmall ln-border-top-line-dark">
                        <div class="progress-bar progress-bar-info " role="progressbar" style="width:4%">0%</div>
                        <div class="progress-bar progress-bar-info " role="progressbar" style="width:28%"></div>
                        <div class="progress-bar progress-bar-info " role="progressbar" style="width:4%"></div>
                        <div class="progress-bar progress-bar-info " role="progressbar" style="width:28%">50%</div>
                        <div class="progress-bar progress-bar-info " role="progressbar" style="width:4%"></div>
                        <div class="progress-bar progress-bar-info " role="progressbar" style="width:28%"></div>
                        <div class="progress-bar progress-bar-info " role="progressbar" style="width:4%">100%</div>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <div class="col-xs-12">
                        <ul class="list-inline ln-RemoveBottomMargin">
                            <li>
                                <i class="fa fa-square fa-lg ln-standardredtext fa-fw ln-standardRedText"></i>With Surgery &nbsp; &nbsp;&nbsp;
                            </li>
                            <li>
                                <i class="fa fa-fw fa-square withoutsurgery_legend fa-lg ln-standardGreentext"></i>Without Surgery &nbsp; &nbsp;&nbsp;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xs-12 ln-removepadding_query ln-RemovePadding" id="efficiencybySpecialtyContainer">
                <div class="col-xs-12 text-center ln-borderRadiusTop ln-chartheader fix ln-underlineCommonDark">
                    <div class="btn-group ln-margin-top-4px ln-side-Icons"> 
                        <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" title="Sort by:">
                            <i class=" fa ln-darkGreyText fa-lg fa-sort"></i> 
                        </button>                         
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="">All</a>
                            </li>                             
                            <li>
                                <a href="">With Surgery</a>
                            </li>                             
                            <li>
                                <a href="">Without Surgery</a>
                            </li>
                        </ul>                         
                    </div>
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg hidden"></span> 
                    <h5>By Specialty</h5> 
                </div>
                <div class="col-xs-12 text-center ln-borderstandard ln-chartcontainer ln-RemovePadding efficiencybarcharts">
                    <div class="col-xs-12 text-nowrap ln-efficency-barchartscontainer ln-RemovePadding pull-left ln-paddingtop_10px">
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Orthopedics                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:90%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:10%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Infectious Diseases                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:75%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:25%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Cardiology                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:45%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:55%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">General Practice                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:35%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:65%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="ln-commonlineright ln-RemovePadding col-lg-3 col-xs-2 text-right">Endocrinology                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:30%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:70%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Gastroentorology                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:30%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:70%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Ear/Nose/throat                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:25%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:75%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Disease MGMT                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:22%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:78%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Colorectal Surgery                                                                                 -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:20%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:80%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">
                                <span class="ln-nowrap">Internal Medicine-</span> 
                            </div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:15%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:85%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures">
                            <div class="text-right ln-commonlineright ln-RemovePadding col-lg-3 col-xs-2">Behavioral Health                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:10%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:90%"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 ln-RemovePadding pull-left">
                        <div class="container-fluid">
                            <div class="text-right ln-RemovePadding col-xs-2 col-lg-3">
</div>
                            <div class="container-fluid">
                                <div class="ln-removeLeftPadding col-lg-9 col-xs-12 col-xs-10">
                                    <div class="progress ln-underlineCommonDark ln-RemoveBottomMargin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:6%">
                                            0%
</div>
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:34%">
                                            25%
</div>
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:10%">
                                            50%
</div>
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:40%">
                                            75%
</div>
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:7%">
                                            100%
</div>
                                    </div>
                                    <h5 style="font-weight: normal; color:black;">Episodes Percentage</h5> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xs-12 ln-removeRightPadding ln-removepadding_query" id="efficiencybympc_container">
                <div class="col-xs-12 text-center ln-borderRadiusTop ln-chartheader fix ln-underlineCommonDark">
                    <div class="btn-group ln-margin-top-4px ln-side-Icons"> 
                        <button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" title="Sort by:">
                            <i class=" fa ln-darkGreyText fa-lg fa-sort"></i> 
                        </button>                         
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="">All</a>
                            </li>                             
                            <li>
                                <a href="">With Surgery</a>
                            </li>                             
                            <li>
                                <a href="">Without Surgery</a>
                            </li>
                        </ul>                         
                    </div>
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg hidden"></span>
                    <h5>By MPC</h5> 
                </div>
                <div class="col-xs-12 text-center ln-borderstandard ln-chartcontainer ln-RemovePadding efficiencybarcharts">
                    <div class="col-xs-12 ln-efficency-barchartscontainer ln-RemovePadding pull-left ln-paddingtop_10px">
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Isolated Signs                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:95%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:5%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Gynecology                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:90%"><span class="fa btn-glyphs fa-lg pull-left fa-caret-down glyph_graphLeftButtons"></span></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:10%"></a> 
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Infectious Diseases                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:80%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:20%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Endocrinology                                                                                 -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:70%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:30%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures">
                            <div class="text-right ln-commonlineright ln-RemovePadding col-lg-3 ln-nowrap col-xs-2">Chem. Dependancy                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:70%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:30%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-commonlineright ln-RemovePadding col-lg-3 col-xs-2">Hematology                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:70%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:30%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">
                                <span class="ln-nowrap">Dermatology-</span> 
                            </div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:66.6%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:33.3%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="Asthma_Bar measurebars chronicmeasures container-fluid">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-xs-2 col-lg-3">Cardiology                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:50%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:50%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Gastroenterolgy                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:50%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:50%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Hepatology                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:20%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:80%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Late Effects                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:10%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:90%"></a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid Asthma_Bar measurebars chronicmeasures ln-commonlineright">
                            <div class="text-right ln-RemovePadding ln-commonlineright col-lg-3 col-xs-2">Infectious Diseases                                                                                -
</div>
                            <div class="container-fluid">
                                <div class="progress">
                                    <a href="" class="progress-bar progress-bar-danger progress-bar-withsurgery" role="progressbar" style="width:3%"></a>
                                    <a href="" class="progress-bar progress-bar-success progress-bar-withoutsurgery" role="progressbar" style="width:97%"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 ln-RemovePadding pull-left">
                        <div class="container-fluid">
                            <div class="text-right ln-RemovePadding col-xs-2 col-lg-3">
</div>
                            <div class="container-fluid">
                                <div class="ln-removeLeftPadding col-lg-9 col-xs-12 col-xs-10">
                                    <div class="progress ln-RemoveBottomMargin ln-underlineCommonDark">
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:6%">
                                            0%
</div>
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:34%">
                                            25%
</div>
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:10%">
                                            50%
</div>
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:40%">
                                            75%
</div>
                                        <div class="progress-bar progress-bar-info" role="progressbar" style="width:7%">
                                            100%
</div>
                                    </div>
                                    <h5 style="font-weight: normal; color:black;">Episodes Percentage</h5> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12"> 
        <div class="row"> 
            <div class="col-xs-12 text-center ln-borderRadiusTop ln-chartheader ln-RemovePadding ln-underlineCommonDark"> 
                <span class="glyphicon btn-glyphs glyph_graph_RightButtons glyphicon-export pull-right ln-side-Icons"></span> 
                <h5>Summary (Totals)</h5> 
            </div>             
            <table class="table ln-borderstandard ln-RemoveBottomMargin table-bordered"> 
                <thead class="ln-tableHeader" ""> 
                    <tr> 
                        <th class="text-center">Patient Risk</th>
                        <th class="text-center">Efficiency</th>
                        <th class="text-center">Case Mix</th>
                        <th class="text-center">% Episodes with Surgery</th>
                        <th class="text-center">% Episodes without Surgery</th>
                        <th class="text-center"># Episodes</th>
                        <th class="text-center"># ETG's</th> 
                        <th class="text-center"># Patients</th> 
                        <th class="text-center"># Providers</th>
                        <th class="text-center">Interv. Impact</th> 
                    </tr>                     
                </thead>                 
                <tbody class="text-center"> 
                    <tr> 
                        <td> 
                            <div class="ln-expected_color ln-insetShadowGreen ln-shadowEfficiency"> 
                                <span class="fa fa-check ln-faRight"></span> 
                                <span>1.1</span> 
                            </div>                             
                        </td>
                        <td> 
                            <div class="ln-overutilized_color ln-insetShadowRed ln-shadowEfficiency"> 
                                <span class="fa fa-level-up ln-faRight"></span>1.2
                            </div>                             
                        </td>
                        <td> 
                            <div class="ln-underutilization_color ln-insetShadowYellow ln-shadowEfficiency"> 
                                <span class="fa fa-level-down  ln-faRight"></span>0.4
                            </div>                             
                        </td>
                        <td>40%</td> 
                        <td>60%</td> 
                        <td>320</td> 
                        <td>1500</td>
                        <td>5,000</td>
                        <td>1,000,000</td>
                        <td>#####</td> 
                    </tr>                     
                </tbody>                 
            </table>             
        </div>         
        <div class="row text-center ln-borderRadiusTop ln-chartheader"> 
            <div class="col-xs-12 ln-RemovePadding ln-underlineCommonDark"> 
                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg ln-side-Icons hidden" style="display: block;"></span> 
                <span class="fa fa-plus-circle btn-glyphs pull-right fa-lg hidden" title="Column Options"></span> 
                <h5 style="display: block;">With and Without Surgery</h5>
            </div>             
        </div>         
        <div class="row ln-borderstandard"> 
            <div class="col-xs-12 ln-actionTopOffset hidden"> 
                <div class="row">
                    <div class="pull-left ln-RemovePadding ln-GroupViewByOffset container-fluid invisible">
                        <div class="col-xs-12">
                            <div class="pull-left"> 
                                <b>View Episodes:</b> 
                            </div>
                            <div class="pull-left ln-pos-relative"> 
                                <a data-toggle="dropdown">With Surgery</a> 
                                <ol class="dropdown-menu list-unstyled pull-left" role="menu"> 
                                    <li> 
                                        <a>With Surgery</a> 
                                    </li>                                     
                                    <li> 
                                        <a>Without Surgery</a> 
                                    </li>                                     
                                </ol>                                 
                            </div>                             
                        </div>                         
                        <div class="col-xs-12"> 
                            <div class="pull-left"> 
                                <b>Viewing data for</b>
                                <a data-toggle="modal" data-target="#episode-responsible-specialties-surgical">All Episode-Responsible Specialties</a>
                                <b>and</b>
                                <a data-toggle="modal" data-target="#base-etg-surgical">6 Base Episode Treatment Groups</a>
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
            <div class="row"> 
                <div class="container-fluid ln-tablebutton-action pull-right hidden" id="ComparisonPGModaLink"> 
                    <button type="button" class="btn ln-shadowEfficiency ln-btnaction">Comparison Peer Group</button>                     
                </div>
                <div class="col-xs-6">
                    <div class="container-fluid pull-left ln-RemovePadding ln-GroupViewByOffset">
                        <div class="col-xs-12">
                            <div class="ln-RemovePadding">
                                <div class="pull-left">
                                    <b>Group By:&nbsp;</b> 
                                </div>
                                <div class="pull-left ln-pos-relative">
                                    <a data-toggle="dropdown" href=""> ETG</a> 
                                    <ol class="dropdown-menu list-unstyled pull-left" role="menu">
                                        <li>
                                            <a>ETG</a> 
                                        </li>
                                        <li>
                                            <a>Provider</a> 
                                        </li>
                                        <li>
                                            <a>Network</a> 
                                        </li>
                                        <li>
                                            <a>Specialty</a> 
                                        </li>
                                        <li>
                                            <a>Peer Group</a> 
                                        </li>
                                        <li>
                                            <a>MPC</a> 
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 ln-padding-bottom4px">
                            <div class="dropdown">
                                <div class="pull-left">
                                    <b>View by</b>:&nbsp;
                                </div>
                                <div class="pull-left ln-pos-relative">
                                    <a data-toggle="dropdown" href="">Detail</a>
                                    <ol class="dropdown-menu pull-left list-unstyled" role="menu">
                                        <li>
                                            <a>Summary</a> 
                                        </li>
                                        <li>
                                            <a>Detail</a> 
                                        </li>
                                    </ol>                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                 
                <div class="col-xs-12"> 
                    <div class="table-responsive"> 
                        <table class="table ln-tabletextsize table-striped table-hover table-condensed table-bordered" id="etglisttable_surgical"> 
                            <thead class="shadow ln-nowrap">
                                <tr style="display: table-row;" class="ln-tableHeader"> 
                                    <th class="Provide">Base ETG</th>
                                    <th class="ID">% Episodes<br>with Surgery</th>
                                    <th class="ID">% Episodes<br>without Surgery</th>
                                    <th class="Risk">Patient Risk <br> with Surgery</th>
                                    <th class="Efficiency">Patient Risk <br> without Surgery</th>
                                    <th class="CaseMix">Efficiency<br>with Surgery</th>
                                    <th class="Efficiency Ranking">Efficiency<br>without Surgery</th>
                                    <th class="TotalCost">Case Mix<br>with Surgery</th>
                                    <th class="SurgIntervImpact">Case Mix<br>without Surgery</th> 
                                    <th class="Specialty">Avg Total<br>Cost/Epis </th>
                                    <th class="Patients">Avg Benchmark<br>Cost/Epis</th>
                                    <th class="Episodes">Surg Interv<br>Impact</th> 
                                    <th class="ID"># Episodes<br>with Surgery</th>
                                    <th class="ID"># Episodes<br>without Surgery</th> 
                                    <th class="ID"># Patients<br>with Surgery</th> 
                                    <th class="ID"># Patients<br>without Surgery</th> 
                                </tr>                                 
                            </thead>                             
                            <!--Entry that has been selected !Highlighted blue selected -->
                        </table>                         
                    </div>                     
                </div>                 
            </div>             
        </div>         
        <div class="row invisible"> 
            <div class="col-xs-12 col-sm-12 col-xs-12 col-lg-12"> 
                <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                    Save column order
</button>                 
                <div class="container-fluid pull-left ln-removeLeftPadding"> 
                    <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                        Reset column order
</button>                     
                </div>                 
            </div>             
        </div>         
    </div>     
</div>