<div class="col-xs-12 ln-removeRightPadding" id="datainject_pharmacy_patientlist"> 
    <div class="col-xs-12"> 
        <div class="row"> 
            <div class="col-xs-12 text-center ln-borderRadiusTop ln-chartheader ln-RemovePadding ln-underlineCommonDark"> 
                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg"></span> 
                <span class="glyphicon btn-glyphs glyph_graphLeftButtons glyphicon-export pull-right"></span> 
                <h5>Summary (Totals)</h5> 
            </div>             
            <table class="table ln-borderstandard ln-RemoveBottomMargin table-bordered"> 
                <thead class="ln-tableHeader" ""=""> 
                    <tr style="display: table-row;">
                        <th class="text-center" style="display: table-cell;"># Providers</th>
                        <th class="text-center" style="display: table-cell;"># Patients</th>
                        <th class="text-center" style="display: table-cell;">Rx Compliance</th>
                        <th class="text-center" style="display: table-cell;">Forecasted Costs</th> 
                        <th class="text-center">Actual Costs</th> 
                        <th class="text-center">Total Generic</th> 
                        <th class="text-center">Total Brand</th> 
                    </tr>                     
                </thead>                 
                <tbody class="text-center"> 
                    <tr style="display: table-row;"> 
                        <td>13</td>
                        <td>13</td> 
                        <td> 
                                                                            30.10%</td> 
                        <td>$5,000</td>
                        <td>$3,456</td>
                        <td>$2,000</td>
                        <td>$1,456</td> 
                    </tr>                     
                </tbody>
            </table>             
        </div>         
        <div class="row text-center ln-borderRadiusTop ln-chartheader"> 
            <div class="col-xs-12 ln-RemovePadding ln-underlineCommonDark"> 
                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg"></span> 
                <span class="fa fa-plus-circle btn-glyphs pull-right fa-lg hidden" title="Column Options"></span> 
                <h5>Patient List </h5> 
            </div>             
        </div>         
        <div class="row ln-borderstandard"> 
            <div class="row"> 
                <div class="container-fluid ln-tablebutton-action pull-right hidden" id="ComparisonPGModaLink"> 
                    <button type="button" class="btn ln-shadowEfficiency ln-btnaction">Comparison Peer Group</button>                     
                </div>                 
                <div class="col-xs-12"> 
                    <div class="table-responsive"> 
                        <table class="table ln-tabletextsize table-striped table-hover table-condensed table-bordered" id="pharmacy_patient_list">
                            <thead class="shadow ln-tableHeader"> 
                                <tr> 
                                    <th class="no-sort"> 
                                        <input class="control-label" type="checkbox" value=""> 
                                    </th>                                     
                                    <th>Patient&nbsp;Name</th> 
                                    <th>Primary&nbsp;Condition</th> 
                                    <th> Age</th> 
                                    <th> Gender</th> 
                                    <th>Maintenance Pharmacy&nbsp;Compliance</th> 
                                    <th>Narcotic&nbsp;Use</th> 
                                    <th>Forecasted Pharmacy&nbsp;Cost</th> 
                                    <th>Actual Pharmacy&nbsp;Cost</th> 
                                    <th>Pharmacy&nbsp;Forecasted Cost&nbsp;Difference</th> 
                                    <th> Total&nbsp;Generic</th> 
                                    <th> Total&nbsp;Brand</th> 
                                    <th> PCP&nbsp;Name</th> 
                                    <th> Patient ID</th> 
                                </tr>                                 
                            </thead>                             
                            <!--Entry that has been selected !Highlighted blue selected -->                             
                        </table>                         
                    </div>                     
                    <div class="col-xs-12"> 
</div>                     
                </div>                 
            </div>             
        </div>         
        <div class="row"> 
            <div class="col-xs-12 col-sm-12 col-xs-12 col-lg-12"> 
                <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                    Save column order
</button>                 
                <div class="container-fluid pull-left ln-removeLeftPadding"> 
                    <button type="button" class="btn ln-shadowEfficiency ln-btnaction btn-sm btn-primary"> 
                        Reset column order
</button>                     
                </div>                 
            </div>             
        </div>         
    </div>     
</div>