<div class="col-xs-12" id="ContainerReferralPatterns">
    <div class="row">
        <div class="col-xs-6 col-lg-6 ln-margin-top">
            <label class="control-label pull-left">View by:&nbsp;</label>
            <select id="formInput79" class="form-control input-sm pull-left">
                <option>All</option>
                <option>Surgical</option>
                <option>Non-Surgical</option>
                <option>Chronic</option>
            </select>
        </div>
        <div class="col-xs-12 ln-margin-top">
            <div class="panel panel-default ln-RemoveBottomMargin" id="episodeofcare-static">
                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg"></span>
                <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse">
                    <h4 class="panel-title">Episodes of Care Utilization</h4>
                </div>
                <div class="ln-borderstandard">
                    <form role="form" class="panel-body">
                        <div class="row" data-pg-name="Row PG Name and Specialty">
                            <div class="col-lg-1 hidden-md col-xs-1 hidden-xs">
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="container-fluid indexgauge">
                                    <svg version="1.1" id="chart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 178 83" style="enable-background:new 0 0 178 83;" xml:space="preserve"> 
                                    <style type="text/css">
                                        .st0 {
                                            opacity: 0.4;
                                            fill: #414042;
                                            stroke: #F1F2F2;
                                            stroke-miterlimit: 10;
                                        }

                                        .st1 {
                                            fill: #F15A29;
                                            stroke: #FFFFFF;
                                            stroke-miterlimit: 10;
                                        }

                                        .st2 {
                                            fill: #FFF200;
                                            stroke: #FFFFFF;
                                            stroke-miterlimit: 10;
                                        }

                                        .st3 {
                                            fill: #009E52;
                                            stroke: #FFFFFF;
                                            stroke-linejoin: round;
                                            stroke-miterlimit: 10;
                                        }

                                        .st4 {
                                            fill: #414042;
                                        }

                                        .st5 {
                                            fill: #F1F2F2;
                                        }

                                        .st6 {
                                            fill: #414042;
                                            stroke: #F1F2F2;
                                            stroke-miterlimit: 10;
                                        }

                                        .st8 {
                                            font-size: 18px;
                                        }

                                        .st9 {
                                            font-size: 12px;
                                        }
</style>                                                                                         
                                    <g id="graph"> 
                                    <path id="bg" class="st0" d="M177.6,81.6C173.5,36.4,135.5,1,89.3,1S5.1,36.4,1,81.6H177.6z" />
                                                                                             
                                    <path id="under" class="st1" d="M175.8,81.6c-2.3-23.8-14.4-46.5-35.2-61.7L95.7,81.6H175.8z" />
                                                                                             
                                    <path id="over" class="st2" d="M83.6,81.6L38.8,19.8C17.8,35,5.6,56.4,3.4,81.6H83.6z" />
                                                                                             
                                    <path id="expected" class="st3" d="M95.7,81.6l44.9-61.7C109.7-2.6,69.7-2.7,38.8,19.8l44.8,61.8H95.7z" />
                                                                                             
                                                                                        </g>                                                                                         
                                    <path id="arrowbg" class="st4" d="M155.9,81.9c-3.7-33.3-31.9-59.3-66.2-59.3S27.1,48.6,23.4,81.9H155.9z" />
                                                                                         
                                    <g id="ArrowGroup"> 
                                    <path id="ArrowCenter" class="st5" d="M128.7,141.3" />
                                                                                             
                                    <rect id="arrow" x="49.3" y="39.4" transform="matrix(-0.1028 0.9947 -0.9947 -0.1028 109.6227 -4.7672)" class="st5" width="15.3" height="15.3" />
                                                                                             
                                                                                        </g>                                                                                         
                                    <path id="arrowfg" class="st6" d="M144.1,81.6c-3.8-26.7-26.7-47.3-54.4-47.3S39,54.9,35.2,81.6H144.1z" />
                                                                                         
                                    <text transform="matrix(1 0 0 1 73.9994 58.9167)"> 
                                    <tspan x="0" y="0" class="st5 st7 st8">0.82</tspan>                                                                                             
                                    <tspan x="-23.3" y="14.4" class="st5 st7 st9">Efficiency Index</tspan>                                                                                             
                                                                                        </text>                                                                                         
                                                                                    </svg>
                                    <div class="container-fluid visible-md hidden-lg visible-xs">
                                        <label class="control-label text-center ln-width100">Primary Care: 35%</label>
                                        <div class="pull-left ln-width100 text-center">
                                            Patients:
                                            <a>1,188</a>
                                        </div>
                                        <div class="pull-left ln-width100 text-center">
                                            Episodes:
                                            <a>1,159</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-lg-2 hidden-xs hidden-md">
                                <div class="container-fluid indexgauge">
                                    <label class="control-label ln-width100">Primary Care: 35%</label>
                                    <div class="pull-left ln-width100">
                                        Patients:
                                        <a>1,188</a>
                                    </div>
                                    <div class="ln-width100">
                                        Episodes:
                                        <a>1,159</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-lg-3">
                                <div class="container-fluid indexgauge">
                                    <svg version="1.1" id="chart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 178 83" style="enable-background:new 0 0 178 83;" xml:space="preserve"> 
                                    <g> 
                                    <path id="bg" class="st0" d="M177.6,81.6C173.5,36.4,135.5,1,89.3,1S5.1,36.4,1,81.6H177.6z" />
                                                                                             
                                    <path id="under" class="st1" d="M175.8,81.6c-2.3-23.8-14.4-46.5-35.2-61.7L95.7,81.6H175.8z" />
                                                                                             
                                    <path id="over" class="st2" d="M83.6,81.6L38.8,19.8C17.8,35,5.6,56.4,3.4,81.6H83.6z" />
                                                                                             
                                    <path id="expected" class="st3" d="M95.7,81.6l44.9-61.7C109.7-2.6,69.7-2.7,38.8,19.8l44.8,61.8H95.7z" />
                                                                                             
                                                                                        </g>                                                                                         
                                    <path id="arrowbg" class="st4" d="M155.9,81.9c-3.7-33.3-31.9-59.3-66.2-59.3S27.1,48.6,23.4,81.9H155.9z" />
                                                                                         
                                    <g id="ArrowGroup"> 
                                    <path id="ArrowCenter" class="st5" d="M40.2,132.1" />
                                                                                             
                                    <rect id="arrow" x="122.9" y="47.8" transform="matrix(-0.9987 -5.083420e-002 5.083420e-002 -0.9987 258.0883 117.5822)" class="st5" width="15.3" height="15.3" />
                                                                                             
                                                                                        </g>                                                                                         
                                    <path id="arrowfg" class="st6" d="M144.1,81.6c-3.8-26.7-26.7-47.3-54.4-47.3S39,54.9,35.2,81.6H144.1z" />
                                                                                         
                                    <text transform="matrix(1 0 0 1 73.9994 58.9167)"> 
                                    <tspan x="0" y="0" class="st5 st7 st8">1.32</tspan>                                                                                             
                                    <tspan x="-23.3" y="14.4" class="st5 st7 st9">Efficiency Index</tspan>                                                                                             
                                                                                        </text>                                                                                         
                                                                                    </svg>
                                    <div class="container-fluid hidden-lg visible-md visible-xs">
                                        <label class="control-label text-center ln-width100">Other Specialties: 65%</label>
                                        <div class="pull-left ln-width100 text-center">
                                            Patients:
                                            <a style="font-size: 1.2em; line-height: 1.42857143; background-color: rgb(255, 255, 255);">1,834</a>
                                        </div>
                                        <div class="pull-left ln-width100 text-center">
                                            Episodes:
                                            <a>2,109</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 visible-lg col-lg-2">
                                <div class="container-fluid indexgauge">
                                    <label class="control-label ln-width100">Other Specialties: 65%</label>
                                    <div class="pull-left ln-width100">
                                        Patients:
                                        <a>1,834</a>
                                    </div>
                                    <div class="pull-left ln-width100">
                                        Episodes:
                                        <a>2,109</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 hidden-md">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel-group" id="accordion">
                <div class="ln-margin-top">
                    <div class="panel panel-default" data-pg-name="Panel1">
                        <span class="fa btn-glyphs fa-lg pull-left fa-caret-down glyph_graphLeftButtons"></span>
                        <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg"></span>
                        <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                            <h4 class="panel-title">Obstetrics / Gynecology</h4>
                        </div>
                        <div class="panel-collapse collapse ln-borderstandard in" id="collapse1">
                            <div class="">
                                <div class="panel-body">
                                    <div class="row" data-pg-name="Row PG Name and Specialty">
                                        <div class="col-xs-6 col-lg-6">
                                            <div class="container-fluid costutilization_chart">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 300 184" enable-background="new 0 0 300 184" xml:space="preserve"> 
                                                <g id="chart"> 
                                                <circle id="BGCircle" opacity="0.4" fill="#414042" stroke="#F1F2F2" stroke-miterlimit="10" cx="97" cy="92" r="90" />
                                                                                                         
                                                <g> 
                                                <g> 
                                                <g> 
                                                <g> 
                                                <path fill="#F7941E" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3L14.6,65.5C26.4,29.1,58.7,5.6,97,5.6V92.3z" />
                                                                                                                         
                                                                                                                    </g>                                                                                                                     
                                                                                                                </g>                                                                                                                 
                                                <g> 
                                                <g> 
                                                <path fill="#009E52" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3l-50.9,70.1c-31-22.5-43.3-60.4-31.5-96.8L97,92.3z" />
                                                                                                                         
                                                                                                                    </g>                                                                                                                     
                                                                                                                </g>                                                                                                                 
                                                <g> 
                                                <g> 
                                                <path fill="#7F3F98" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3l82.4,26.8c-14.8,45.5-63.7,70.4-109.2,55.6
						c-9.1-3-16.4-6.7-24.1-12.3L97,92.3z" />
                                                                                                                         
                                                                                                                    </g>                                                                                                                     
                                                                                                                </g>                                                                                                                 
                                                <g> 
                                                <g> 
                                                <path fill="#008ED4" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3l26.8-82.4c45.5,14.8,70.4,63.7,55.6,109.2l0,0
						L97,92.3z" />
                                                                                                                         
                                                                                                                    </g>                                                                                                                     
                                                                                                                </g>                                                                                                                 
                                                <g> 
                                                <g> 
                                                <path fill="#BE1E2D" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3V5.6c9.6,0,17.7,1.3,26.8,4.2L97,92.3z" />
                                                                                                                         
                                                                                                                    </g>                                                                                                                     
                                                                                                                </g>                                                                                                                 
                                                                                                            </g>                                                                                                             
                                                <g> 
                                                <g> 
</g>                                                                                                                 
                                                <g> 
</g>                                                                                                                 
                                                <g> 
</g>                                                                                                                 
                                                <g> 
</g>                                                                                                                 
                                                <g> 
</g>                                                                                                                 
                                                                                                            </g>                                                                                                             
                                                                                                        </g>                                                                                                         
                                                <circle id="Text_x5F_BG" fill="#414042" stroke="#F1F2F2" stroke-miterlimit="10" cx="97" cy="92" r="55" />
                                                                                                         
                                                <text transform="matrix(1 0 0 1 82.7215 87.25)"> 
                                                <tspan x="0" y="0" fill="#F1F2F2" font-size="18">25%</tspan>                                                                                                             
                                                <tspan x="-9.2" y="14.4" fill="#F1F2F2" font-size="12">Utilization</tspan>                                                                                                             
                                                                                                        </text>                                                                                                         
                                                                                                    </g>                                                                                                     
                                                <g id="legend"> 
                                                <text transform="matrix(1 0 0 1 220.95 157.5)" fill="#58595B" font-size="12">Ancillary</text>                                                                                                         
                                                <text transform="matrix(1 0 0 1 220.95 125.1875)" fill="#58595B" font-size="12">Surgical</text>                                                                                                         
                                                <text transform="matrix(1 0 0 1 221.95 91.875)" fill="#58595B" font-size="12">Facility</text>                                                                                                         
                                                <text transform="matrix(1 0 0 1 221.95 60.5625)" fill="#58595B" font-size="12">Pharmacy</text>                                                                                                         
                                                <text transform="matrix(1 0 0 1 222.95 27.25)" fill="#58595B" font-size="12">Management</text>                                                                                                         
                                                <path id="Legend_x5F_Facility_2_" fill="#BE1E2D" stroke="#F1F2F2" stroke-miterlimit="10" d="M210.5,97.3h-11
		c-4.7,0-8.5-3.8-8.5-8.5v0c0-4.7,3.8-8.5,8.5-8.5h11c4.7,0,8.5,3.8,8.5,8.5v0C219,93.6,215.2,97.3,210.5,97.3z" />
                                                                                                         
                                                <path id="Legend_x5F_Pharmacy_2_" fill="#7F3F98" stroke="#F1F2F2" stroke-miterlimit="10" d="M211.5,65.1h-12.1
		c-4.7,0-8.5-3.8-8.5-8.5v0c0-4.7,3.8-8.5,8.5-8.5h12.1c4.7,0,8.5,3.8,8.5,8.5v0C220,61.3,216.2,65.1,211.5,65.1z" />
                                                                                                         
                                                <path id="Legend_x5F_Managment_2_" fill="#008ED4" stroke="#F1F2F2" stroke-miterlimit="10" d="M211.5,32.8h-12.1
		c-4.7,0-8.5-3.8-8.5-8.5v0c0-4.7,3.8-8.5,8.5-8.5h12.1c4.7,0,8.5,3.8,8.5,8.5v0C220,29,216.2,32.8,211.5,32.8z" />
                                                                                                         
                                                <path id="Legend_x5F_Surgical_2_" fill="#F7941E" stroke="#F1F2F2" stroke-miterlimit="10" d="M210.5,129.6h-11
		c-4.7,0-8.5-3.8-8.5-8.5v0c0-4.7,3.8-8.5,8.5-8.5h11c4.7,0,8.5,3.8,8.5,8.5v0C219,125.8,215.2,129.6,210.5,129.6z" />
                                                                                                         
                                                <path id="Legend_x5F_Ancillary_2_" fill="#009E52" stroke="#F1F2F2" stroke-miterlimit="10" d="M210.5,161.9h-11
		c-4.7,0-8.5-3.8-8.5-8.5v0c0-4.7,3.8-8.5,8.5-8.5h11c4.7,0,8.5,3.8,8.5,8.5v0C219,158.1,215.2,161.9,210.5,161.9z" />
                                                                                                         
                                                <text transform="matrix(1 0 0 1 197 27.5)" fill="#F1F2F2" font-size="11">25%</text>                                                                                                         
                                                <text transform="matrix(1 0 0 1 197 59.5)" fill="#F1F2F2" font-size="11">30%</text>                                                                                                         
                                                <text transform="matrix(1 0 0 1 197 92.5)" fill="#F1F2F2" font-size="11"> 5%</text>                                                                                                         
                                                <text transform="matrix(1 0 0 1 196 124.5)" fill="#F1F2F2" font-size="11">20%</text>                                                                                                         
                                                <text transform="matrix(1 0 0 1 196 156.5)" fill="#F1F2F2" font-size="11">20%</text>                                                                                                         
                                                                                                    </g>                                                                                                     
                                                                                                </svg>
                                                <div class="pull-left ln-width100 text-center">
                                                    Efficiency Index:
                                                    <a>1.22</a>
                                                </div>
                                                <div class="pull-left ln-width100 text-center">
                                                    Avg. Cost / Episode: $1,223,999
                                                </div>
                                                <div class="pull-left ln-width100 text-center">
                                                    Savings Oppurtunity: $100,999
                                                </div>
                                                <div class="pull-left ln-width100 text-center">
                                                    Brenchmark Cost / Episode: $1,200,999
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-lg-6">
                                            <div class="container-fluid percentagechart">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 184 184" enable-background="new 0 0 184 184" xml:space="preserve"> 
                                                <g id="chart"> 
                                                <circle id="BGCircle" opacity="0.4" fill="#414042" stroke="#F1F2F2" stroke-miterlimit="10" cx="92" cy="92" r="88.7" />
                                                                                                         
                                                <g> 
                                                <path fill="#008ED4" d="M92.4,91.9l0.2-86.6c47.8,0.1,86.5,39,86.4,86.8c-0.1,28.7-12.6,53.2-35.9,70L92.4,91.9z" />
                                                                                                             
                                                                                                        </g>                                                                                                         
                                                <circle id="BGCircle_1_" fill="#414042" cx="92.3" cy="91.7" r="66.7" />
                                                                                                         
                                                <rect x="84.3" y="30.9" transform="matrix(-0.6801 0.7331 -0.7331 -0.6801 182.8963 -2.6058)" display="none" fill="#F1F2F2" width="15.3" height="15.3" />
                                                                                                         
                                                <circle id="Text_x5F_BG" fill="#414042" stroke="#F1F2F2" stroke-miterlimit="10" cx="92.3" cy="91.7" r="55" />
                                                                                                         
                                                <g id="Text"> 
                                                <text transform="matrix(1 0 0 1 92.5256 81.9333)"> 
                                                <tspan x="0" y="0" fill="#F1F2F2" font-size="18"> </tspan>                                                                                                                 
                                                <tspan x="-41.9" y="14.4" fill="#F1F2F2" font-size="12">are episodes with</tspan>                                                                                                                 
                                                <tspan x="-34.2" y="28.8" fill="#F1F2F2" font-size="12">Specialist Care</tspan>                                                                                                                 
                                                                                                            </text>                                                                                                             
                                                <text transform="matrix(1 0 0 1 76.1638 81.9333)" fill="#F1F2F2" font-size="18">40% </text>                                                                                                             
                                                                                                        </g>                                                                                                         
                                                                                                    </g>                                                                                                     
                                                <g id="legend"> 
</g>                                                                                                     
                                                                                                </svg>
                                                <div class="pull-left ln-width100 text-center">
                                                    Patients:
                                                    <a>1,023,456</a>
                                                </div>
                                                <div class="pull-left ln-width100 text-center">
                                                    Episodes:
                                                    <a>21,752</a>
                                                </div>
                                                <div class="pull-left ln-width100 text-center">
                                                    Treating Physicians:
                                                    <a>21,000</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
