<div class="col-xs-12 ln-removeRightPadding" id="ContainerPerformancebyEpisode"> 
    <div class="row"> 
        <div class="col-xs-12"> 
            <h3 class="ln-standardRedText pull-left ln-RemoveTopMargin ln-RemoveBottomMargin">Episode: Patient Last Name, Patient First Name</h3> 
            <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg hidden" style="display: block;"></span> 
            <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-print fa-lg fa-fw hidden" style="display: block;"></span>
        </div>         
    </div>     
    <div class="row"> 
        <div class="col-xs-12 ln-margin-top-4px ln-margin-bottom-4px">
            <h4 class="pull-left ln-RemoveTopMargin ln-margin-bottom-4px" style="display: block;">(Episode Name)</h4>
        </div>         
    </div>     
    <div class="row"> 
        <div class="col-xs-12"> 
            <div class="panel-group"> 
                <div class="panel panel-default ln-margin-bottom-4px" data-pg-name="Panel1"> 
                    <span class="fa btn-glyphs fa-lg pull-left glyph_graphLeftButtons fa-plus hidden"></span> 
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg invisible"></span> 
                    <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1"> 
                        <h5> 
                                                                        Episode Summary</h5> 
                    </div>
                    <div class="ln-borderstandard"> 
                        <div class="panel-body ln-RemoveBottomPadding ln-RemovePadding"> 
                            <div class="pull-left ln-margin-left10px"> 
                                <b class="pull-left">Description:&nbsp;</b> 
                                <p class="pull-left">Diabetes blah blah blah</p> 
                            </div>                             
                            <div class="pull-left ln-margin-left10px"> 
                                <b class="pull-left">Episode Dates:&nbsp;</b> 
                                <p class="pull-left">4/1/2010 - 3/31/2010</p> 
                            </div>                             
                            <div class="pull-left ln-margin-left10px"> 
                                <b class="pull-left">Duration:&nbsp;</b> 
                                <p class="pull-left">364 Days</p> 
                            </div>                             
                            <div class="pull-left ln-margin-left10px"> 
                                <b class="pull-left">Admits:&nbsp;</b> 
                                <p class="pull-left">3</p> 
                            </div>                             
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-left ln-margin-left10px"> 
                                    <b class="pull-left">Responsible Provider:&nbsp;</b> 
                                    <p class="pull-left">Christopher Santangelo</p>
                                </div>
                                <div class="pull-left ln-margin-left10px"> 
                                    <b class="pull-left">Patient Risk:&nbsp;</b> 
                                    <p class="pull-left ln-expected_color ln-insetShadowGreen ln-shadowEfficiency text-center">1.1</p> 
                                </div>
                                <div class="pull-left ln-margin-left10px"> 
                                    <b class="pull-left">Efficiency:&nbsp;</b>
                                    <p class="pull-left ln-expected_color ln-insetShadowGreen ln-shadowEfficiency text-center">1.1</p> 
                                </div>
                                <div class="pull-left ln-margin-left10px"> 
                                    <b class="pull-left">Case Weight:&nbsp;</b> 
                                    <p class="pull-left">0.4</p> 
                                </div>
                                <div class="pull-left ln-margin-left10px"> 
                                    <b class="pull-left">PCP:&nbsp;</b> 
                                    <p class="pull-left">Dr. David</p> 
                                </div>                                 
                            </div>
                        </div>                         
                    </div>                     
                </div>                 
                <div class="panel panel-default" data-pg-name="Panel2"> 
                    <span class="fa btn-glyphs fa-lg pull-left glyph_graphLeftButtons fa-plus hidden"></span> 
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg invisible"></span> 
                    <div class="ln-borderRadiusTop panel-heading ln-underline_red" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"> 
                        <h5> 
                                                                        Episode Cost Comparison to Benchmark</h5> 
                    </div>                     
                    <div class="panel-collapse collapse in ln-borderstandard" id="collapse2"> 
                        <div> 
                            <div class="panel-body ln-RemoveBottomPadding ln-RemoveTopPadding"> 
                                <div class="row"> 
                                    <div class="col-xs-12 col-lg-12 hidden"> 
                                        <div class="col-xs-3 ln-removeLeftPadding col-lg-3"> 
                                            <div class="well well-sm text-center marginbottomsmall wellyourcost">Expected: $52,900</div>                                             
                                        </div>                                         
                                        <div class="col-xs-3 ln-removeLeftPadding col-lg-3"> 
                                            <div class="well text-center marginbottomsmall well-sm wellyourcost">Actual:$52,545</div>                                             
                                        </div>                                         
                                        <div class="col-xs-3 ln-removeLeftPadding col-lg-3"> 
                                            <div class="well well-sm text-center marginbottomsmall wellyourcost">Above Bmk: $355</div>                                             
                                        </div>                                         
                                        <div class="col-xs-3 ln-RemovePadding col-lg-3"> 
                                            <div class="well well-sm text-center marginbottomsmall wellyourcost">% Variance: 1%</div>                                             
                                        </div>                                         
                                    </div>                                     
                                    <div class="col-lg-6 ln-commonlineright col-xs-6"> 
                                        <div class="row"> 
                                            <div class="col-xs-12"> 
                                                <h5>Overall Summary (24 Services)</h5> 
                                            </div>                                             
                                            <div class="col-xs-6"> 
                                                <svg class="episodepiechart" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="3 0 184 184" enable-background="new 0 0 184 184" width="100%" height="100%" xml:space="preserve"> 
                                                    <g id="chart"> 
                                                        <circle id="BGCircle" opacity="0.4" fill="#414042" stroke="#F1F2F2" stroke-miterlimit="10" cx="97" cy="92" r="90" /> 
                                                        <g> 
                                                            <g> 
                                                                <g> 
                                                                    <g> 
                                                                        <path fill="rgb(0, 142, 212)" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3L14.6,65.5C26.4,29.1,58.7,5.6,97,5.6V92.3z" /> 
                                                                    </g>                                                                     
                                                                </g>                                                                 
                                                                <g> 
                                                                    <g> 
                                                                        <path fill="rgb(127, 63, 152)" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3l-50.9,70.1c-31-22.5-43.3-60.4-31.5-96.8L97,92.3z" /> 
                                                                    </g>                                                                     
                                                                </g>                                                                 
                                                                <g> 
                                                                    <g> 
                                                                        <path fill="rgb(0, 158, 82)" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3l82.4,26.8c-14.8,45.5-63.7,70.4-109.2,55.6
						c-9.1-3-16.4-6.7-24.1-12.3L97,92.3z" /> 
                                                                    </g>                                                                     
                                                                </g>                                                                 
                                                                <g> 
                                                                    <g> 
                                                                        <path fill="rgb(247, 148, 30)" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3l26.8-82.4c45.5,14.8,70.4,63.7,55.6,109.2l0,0
						L97,92.3z" /> 
                                                                    </g>                                                                     
                                                                </g>                                                                 
                                                                <g> 
                                                                    <g> 
                                                                        <path fill="rgb(190, 30, 45)" stroke="#F1F2F2" stroke-miterlimit="10" d="M97,92.3V5.6c9.6,0,17.7,1.3,26.8,4.2L97,92.3z" /> 
                                                                    </g>                                                                     
                                                                </g>                                                                 
                                                            </g>                                                             
                                                        </g>                                                         
                                                    </g>                                                     
                                                </svg>                                                 
                                            </div>                                             
                                            <div class="ln-removeLeftPadding col-xs-6"> 
                                                <ul class="list-unstyled ln-margin-top"> 
                                                    <li class="ln-margin-bottom-4px"> 
                                                        <i class="fa fa-square fa-lg episodedetaillegend1"></i>                                                                                                  Wilson, Kenichi
                                                    </li>                                                     
                                                    <li class="ln-margin-bottom-4px"> 
                                                        <i class="fa fa-square fa-lg episodedetaillegend2"></i>                                                                                                  Memorial Hospital
                                                    </li>                                                     
                                                    <li class="ln-margin-bottom-4px episodedetaillegend3"> 
                                                        <i class="fa fa-square fa-lg"></i>                                                                                                  Reza, Tina
                                                    </li>                                                     
                                                    <li class="ln-margin-bottom-4px"> 
                                                        <i class="fa fa-square fa-lg episodedetaillegend4"></i> Glover, Roger
                                                    </li>                                                     
                                                    <li class="ln-margin-bottom-4px"> 
                                                        <i class="fa fa-square fa-lg episodedetaillegend5"></i>                                                                                                  Cassidy Hospitals
                                                    </li>                                                     
                                                    <li class="ln-margin-bottom-4px"> 
                                                        <i class="fa fa-square fa-lg episodedetaillegend6"></i>&nbsp;All other providers
                                                    </li>                                                     
                                                </ul>
                                            </div>                                             
                                        </div>                                         
                                    </div>                                     
                                    <div class="col-lg-6 col-xs-6" data-pg-name="Column_TotalCost"> 
                                        <div class="row"> 
                                            <div class="col-xs-12"> 
                                                <h5>Total Cost Breakdown:</h5> 
                                            </div>                                             
                                        </div>                                         
                                        <div class="row ln-costbreakdown"> 
                                            <div class="container-fluid ln-RemovePadding Asthma_Bar measurebars chronicmeasures"> 
                                                <div class="col-xs-3 text-right ln-RemovePadding ln-commonlineright"> 
</div>                                                 
                                                <div class="col-xs-9 ln-removeLeftPadding"> 
                                                    <div class="ln-totalcostbreakdownline"> 
                                                        <div class="pull-left ln-totalcostbreakdown_label1">85%</div>                                                         
                                                        <div class="pull-right ln-text-align-bottom ln-totalcostbreakdown_label2">135%</div>                                                         
                                                    </div>                                                     
                                                </div>                                                 
                                            </div>                                             
                                            <div class="container-fluid ln-RemovePadding Asthma_Bar measurebars chronicmeasures"> 
                                                <div class="col-xs-3 text-right ln-RemovePadding ln-commonlineright"> 
                                                    <p style="display: block;"><a href="">Total</a>-</p> 
                                                </div>                                                 
                                                <div class="col-xs-9 ln-removeLeftPadding"> 
                                                    <div class="progress ln-RemoveBottomMargin"> 
                                                        <div href="" class="progress-bar progress-bar-success" role="progressbar" style="width:40%" data-html="false">$90,602</div>                                                         
                                                        <div href="" class="progress-bar progress-bar-info" role="progressbar" style="width:60%"></div>                                                         
                                                    </div>                                                     
                                                </div>                                                 
                                            </div>                                             
                                            <div class="container-fluid ln-RemovePadding Asthma_Bar measurebars chronicmeasures"> 
                                                <div class="col-xs-3 text-right ln-RemovePadding ln-commonlineright"> 
                                                    <p style="display: block;"><a href="">Management</a>-</p> 
                                                </div>                                                 
                                                <div class="col-xs-9 ln-removeLeftPadding"> 
                                                    <div class="progress ln-RemoveBottomMargin"> 
                                                        <div href="" class="progress-bar progress-bar-success" role="progressbar" style="width:55%" data-html="false">$6,353</div>                                                         
                                                        <div href="" class="progress-bar progress-bar-info" role="progressbar" style="width:60%"></div>                                                         
                                                    </div>                                                     
                                                </div>                                                 
                                            </div>                                             
                                            <div class="container-fluid ln-RemovePadding Asthma_Bar measurebars chronicmeasures"> 
                                                <div class="col-xs-3 text-right ln-RemovePadding ln-commonlineright"> 
                                                    <p style="display: block;"><a href="">Surgical</a>-</p> 
                                                </div>                                                 
                                                <div class="col-xs-9 ln-removeLeftPadding"> 
                                                    <div class="progress ln-RemoveBottomMargin"> 
                                                        <a href="" class="progress-bar progress-bar-warning" role="progressbar" style="width:20%"></a> 
                                                        <div class="progress-bar progress-bar-info" role="progressbar" title="Benchmark = ">$33,474</div>                                                         
                                                    </div>                                                     
                                                </div>                                                 
                                            </div>                                             
                                            <div class="container-fluid ln-RemovePadding Asthma_Bar measurebars chronicmeasures"> 
                                                <div class="col-xs-3 text-right ln-RemovePadding ln-commonlineright"> 
                                                    <p style="display: block;"><a>Facility-</a></p> 
                                                </div>                                                 
                                                <div class="col-xs-9 ln-removeLeftPadding"> 
                                                    <div class="progress ln-RemoveBottomMargin"> 
                                                        <a href="" class="progress-bar progress-bar-warning" role="progressbar" style="width:30%"></a> 
                                                        <div class="progress-bar progress-bar-info" role="progressbar">$36,783</div>                                                         
                                                    </div>                                                     
                                                </div>                                                 
                                            </div>                                             
                                            <div class="container-fluid ln-RemovePadding Asthma_Bar measurebars chronicmeasures"> 
                                                <div class="col-xs-3 text-right ln-RemovePadding ln-commonlineright"> 
                                                    <p style="display: block;"><a href="">Pharmacy</a>-</p> 
                                                </div>                                                 
                                                <div class="col-xs-9 ln-removeLeftPadding"> 
                                                    <div class="progress ln-RemoveBottomMargin"> 
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:100%">$13,862</div>                                                         
                                                    </div>                                                     
                                                </div>                                                 
                                            </div>                                             
                                            <div class="container-fluid ln-RemovePadding Asthma_Bar measurebars chronicmeasures"> 
                                                <div class="col-xs-3 text-right ln-RemovePadding ln-commonlineright"> 
                                                    <p style="display: block;"><a href="">Ancillary</a>-</p> 
                                                </div>                                                 
                                                <div class="col-xs-9 ln-removeLeftPadding"> 
                                                    <div class="progress ln-RemoveBottomMargin"> 
                                                        <a href="" class="progress-bar progress-bar-warning" role="progressbar" style="width:10%"></a> 
                                                        <div class="progress-bar progress-bar-info" role="progressbar">$130</div>                                                         
                                                    </div>                                                     
                                                </div>                                                 
                                            </div>                                             
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
                <div class="panel panel-default" data-pg-name="Panel3"> 
                    <span class="fa btn-glyphs fa-lg pull-left glyph_graphLeftButtons fa-plus hidden"></span> 
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg invisible"></span> 
                    <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3"> 
                        <h5> 
                                                                        Episode Cost Detail by Cluster Responsible Provider</h5> 
                    </div>                     
                    <div class="panel-collapse collapse in ln-borderstandard" id="collapse3"> 
                        <div> 
                            <div class="row"> 
</div>                             
                            <div class="table-responsive">
                                <table class="table shadow table-bordered table-condensed"> 
                                    <thead class="ln-tableHeader"> 
                                        <tr style="display: table-row;" class="ln-nowrap"> 
                                            <th class="ln-tableHeader"> <i class="fa fa-sort pull-right fa-border fa-fw"></i>Provider Name</th> 
                                            <th class="ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>ID</th> 
                                            <th class="ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Services</th> 
                                            <th class="ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Total</th> 
                                            <th class="text-center ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Management</th> 
                                            <th class="text-center ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Pharmacy</th> 
                                            <th class="text-center ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Facility</th> 
                                            <th class="text-center ln-tableHeader" style="display: table-cell;"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Surgical</th> 
                                            <th class="text-center ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Ancillary</th> 
                                        </tr>                                         
                                    </thead>                                     
                                    <tbody style="display: table-row-group;"> 
                                        <tr class="ln-nowrap" style="display: table-row;"> 
                                            <td>Wilson, Kenichi</td> 
                                            <td>9876543210</td> 
                                            <td class="text-center" style="display: table-cell;">8</td> 
                                            <td class="text-center" style="display: table-cell;">$29,304</td> 
                                            <td class="text-center">$0</td> 
                                            <td class="text-center">$3,689</td> 
                                            <td class="text-center">$23,483</td> 
                                            <td class="text-center">$2,127</td> 
                                            <td class="text-center">$5</td> 
                                        </tr>                                         
                                        <tr class="ln-nowrap" style="display: table-row;"> 
                                            <td>Memorial Hospital</td> 
                                            <td>2514639871</td> 
                                            <td class="text-center" style="display: table-cell;">2</td> 
                                            <td class="text-center" style="display: table-cell;">$15,431</td> 
                                            <td class="text-center">$797</td> 
                                            <td class="text-center">$0</td> 
                                            <td class="text-center">0</td> 
                                            <td class="text-center">$14,634</td> 
                                            <td class="text-center">$0</td> 
                                        </tr>                                         
                                        <tr class="ln-nowrap" style="display: table-row;"> 
                                            <td>Reza,Tina</td> 
                                            <td>0154242632</td> 
                                            <td class="text-center" style="display: table-cell;">7</td> 
                                            <td class="text-center" style="display: table-cell;">$624</td> 
                                            <td class="text-center">$466</td> 
                                            <td class="text-center">$0</td> 
                                            <td class="text-center">$0</td> 
                                            <td class="text-center">$133</td> 
                                            <td class="text-center">$25</td> 
                                        </tr>                                         
                                        <tr class="ln-nowrap" style="display: table-row;"> 
                                            <td>Glover, Roger</td> 
                                            <td>2485695847</td> 
                                            <td class="text-center" style="display: table-cell;">2</td> 
                                            <td class="text-center" style="display: table-cell;">$520</td> 
                                            <td class="text-center">$0</td> 
                                            <td class="text-center">$340</td> 
                                            <td class="text-center">$0</td> 
                                            <td class="text-center">$180</td> 
                                            <td class="text-center">$0</td> 
                                        </tr>                                         
                                        <tr class="ln-nowrap" style="display: table-row;"> 
                                            <td>Cassidy Hospitals</td> 
                                            <td>1542452571</td> 
                                            <td class="text-center" style="display: table-cell;">2</td> 
                                            <td class="text-center" style="display: table-cell;">$3,444</td> 
                                            <td class="text-center">$3,000</td> 
                                            <td class="text-center">$1,500</td> 
                                            <td class="text-center">$9,300</td> 
                                            <td class="text-center">$10,500</td> 
                                            <td class="text-center">$100</td> 
                                        </tr>                                         
                                        <tr class="ln-nowrap" style="display: table-row;"> 
                                            <td>Barnes General</td> 
                                            <td>24254258556</td> 
                                            <td class="text-center" style="display: table-cell;">3</td> 
                                            <td class="text-center" style="display: table-cell;">$3,222</td> 
                                            <td class="text-center">$2,090</td> 
                                            <td class="text-center">$8,333</td> 
                                            <td class="text-center">$4,000</td> 
                                            <td class="text-center">$5,900</td> 
                                            <td class="text-center">$0</td> 
                                        </tr>                                         
                                    </tbody>                                     
                                </table>
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
                <div class="panel panel-default ln-margin-bottom-4px" data-pg-name="Panel4"> 
                    <span class="fa btn-glyphs fa-lg pull-left glyph_graphLeftButtons fa-plus hidden"></span> 
                    <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg invisible"></span> 
                    <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4"> 
                        <h5> 
                                                                        Episode History</h5> 
                    </div>                     
                    <div class="ln-borderstandard"> 
                        <div role="form" class="panel-body ln-RemoveBottomPadding"> 
                            <div class="row"> 
                                <div class="pull-right col-xs-5"> 
                                    <form class="form-horizontal" role="form"> 
                                        <div class="form-group"> 
                                            <label class="control-label col-sm-4 text-nowrap" for="formInput15">Service Type</label>                                             
                                            <div class="col-sm-8"> 
                                                <select id="formInput15" class="form-control input-sm"> 
                                                    <option value="All" selected="selected">All</option>                                                     
                                                    <option value="Management">Management</option>                                                     
                                                    <option value="Pharmacy">Pharmacy</option>                                                     
                                                    <option value="Facility">Facility</option>                                                     
                                                    <option value="INPATIENT">Inpatient</option>                                                     
                                                    <option value="Surgical">Surgical</option>                                                     
                                                    <option value="Ancillary">Ancillary</option>                                                     
                                                </select>                                                 
                                            </div>                                             
                                        </div>                                         
                                    </form>                                     
                                </div>                                 
                            </div>                             
                            <div class="pull-left"> 
                                <b>Timeline View</b> 
                            </div>                             
                            <div class="tab-content"> 
                                <div id="timelineview" class="tab-pane fade in active"> 
                                    <img src="resources/dmc/images/timelineview2.png" width="100%" /> 
                                </div>                                 
                                <div class="pull-left ln-margin-top"> 
                                    <b class="">Table View</b> 
                                </div>                                 
                                <div id="tableview" class=""> 
                                    <table class="table shadow table-bordered table-condensed"> 
                                        <thead class="ln-tableHeader text-nowrap" style="display: table-header-group;"> 
                                            <tr> 
                                                <th class="ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Date of Service</th> 
                                                <th class="ln-tableHeader text-left"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Provider</th> 
                                                <th class="ln-tableHeader text-center"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>NDC&nbsp;Codec</th> 
                                                <th class="text-center ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Rev&nbsp;Code</th> 
                                                <th class="ln-tableHeader text-left"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Description</th>
                                                <th class="text-center ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Service Type</th> 
                                                <th class="text-center ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Total Cost</th> 
                                            </tr>                                             
                                        </thead>                                         
                                        <tbody style="display: table-row-group;"> 
                                            <tr> 
                                                <td>03/09/2015</td> 
                                                <td>Wilson, Richard</td> 
                                                <td class="text-center">187386870</td>
                                                <td class="text-center">45778</td> 
                                                <td class="text-left">This is where the description will go</td> 
                                                <td class="text-center">Service</td>
                                                <td class="text-center">$##,###,###</td> 
                                            </tr>
                                            <tr> 
                                                <td>03/09/2015</td> 
                                                <td>Wilson, Richard</td> 
                                                <td class="text-center">187386870</td>
                                                <td class="text-center">45778</td> 
                                                <td class="text-left">This is where the description will go</td> 
                                                <td class="text-center">Service</td>
                                                <td class="text-center">$##,###,###</td> 
                                            </tr>
                                            <tr> 
                                                <td>03/09/2015</td> 
                                                <td>Wilson, Richard</td> 
                                                <td class="text-center">187386870</td>
                                                <td class="text-center">45778</td> 
                                                <td class="text-left">This is where the description will go</td> 
                                                <td class="text-center">Service</td>
                                                <td class="text-center">$##,###,###</td> 
                                            </tr>
                                            <tr> 
                                                <td>03/09/2015</td> 
                                                <td>Wilson, Richard</td> 
                                                <td class="text-center">187386870</td>
                                                <td class="text-center">45778</td> 
                                                <td class="text-left">This is where the description will go</td> 
                                                <td class="text-center">Service</td>
                                                <td class="text-center">$##,###,###</td> 
                                            </tr>
                                            <tr> 
                                                <td>03/09/2015</td> 
                                                <td>Wilson, Richard</td> 
                                                <td class="text-center">187386870</td>
                                                <td class="text-center">45778</td> 
                                                <td class="text-left">This is where the description will go</td> 
                                                <td class="text-center">Service</td>
                                                <td class="text-center">$##,###,###</td> 
                                            </tr>
                                            <tr> 
                                                <td>03/09/2015</td> 
                                                <td>Wilson, Richard</td> 
                                                <td class="text-center">187386870</td>
                                                <td class="text-center">45778</td> 
                                                <td class="text-left">This is where the description will go</td> 
                                                <td class="text-center">Service</td>
                                                <td class="text-center">$##,###,###</td> 
                                            </tr>                                             
                                        </tbody>                                         
                                    </table>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </div>         
    </div>     
    <div class="panel panel-default ln-margin-bottom-4px hidden" data-pg-name="Panel Utilization by count"> 
        <span class="fa btn-glyphs fa-lg pull-left fa-caret-down glyph_graphLeftButtons"></span> 
        <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg hidden"></span> 
        <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1"> 
            <h4 class="panel-title">Utilization by Count</h4> 
        </div>         
        <div class="ln-borderstandard in"> 
            <div class="ln-underline_red"></div>             
            <div role="form" class="panel-body ln-RemoveBottomPadding"> 
                <div class="row"> 
                    <div class="col-xs-12"> 
                        <div class="panel-group" id="accordion"> 
                            <div class="panel panel-default" data-pg-name="Panel2"> 
                                <span class="fa btn-glyphs fa-lg pull-left fa-caret-down glyph_graphLeftButtons hidden"></span> 
                                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg hidden"></span> 
                                <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"> 
                                    <h4 class="panel-title">Outpatient / Ambulatory</h4> 
                                </div>                                 
                                <div class="panel-collapse collapse in" id="collapse2"> 
                                    <div> 
                                        <table class="table shadow table-bordered table-condensed ln-margin-bottom-4px"> 
                                            <thead class="ln-tableHeader" style="display: table-header-group;"> 
                                                <tr> 
                                                    <th class="ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Name</th> 
                                                    <th class="ln-tableHeader text-center"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Physician Observed</th> 
                                                    <th class="ln-tableHeader text-center"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Expected</th> 
                                                    <th class="text-center ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Performance</th> 
                                                </tr>                                                 
                                            </thead>                                             
                                            <tbody style="display: table-row-group;"> 
                                                <tr> 
                                                    <td>Physician Office Visits</td> 
                                                    <td class="text-center" style="display: table-cell;">######</td> 
                                                    <td class="text-center" style="display: table-cell;">000</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                                <tr> 
                                                    <td>Ancillary Visits</td> 
                                                    <td class="text-center" style="display: table-cell;">######</td> 
                                                    <td class="text-center" style="display: table-cell;">000</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                            </tbody>                                             
                                        </table>                                         
                                    </div>                                     
                                </div>                                 
                            </div>                             
                            <div class="panel panel-default" data-pg-name="Panel2"> 
                                <span class="fa btn-glyphs fa-lg pull-left fa-caret-down glyph_graphLeftButtons hidden"></span> 
                                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg hidden"></span> 
                                <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"> 
                                    <h4 class="panel-title">Inpatient Hospital</h4> 
                                </div>                                 
                                <div class="panel-collapse collapse in" id="collapse2"> 
                                    <div> 
                                        <table class="table shadow table-bordered table-condensed ln-margin-bottom-4px"> 
                                            <thead class="ln-tableHeader" style="display: table-header-group;"> 
                                                <tr> 
                                                    <th class=""> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Name</th> 
                                                    <th class="text-center" style="display: table-cell;"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Physician Observed</th> 
                                                    <th class="text-center" style="display: table-cell;"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Expected</th> 
                                                    <th class="text-center"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Performance</th> 
                                                </tr>                                                 
                                            </thead>                                             
                                            <tbody style="display: table-row-group;"> 
                                                <tr> 
                                                    <td>Inpatient Admissions</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                                <tr> 
                                                    <td>Inpatient Re-admissions (3 day)</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                                <tr> 
                                                    <td> 
                                                                                                        Inpatient Re-admissions (14 day)<br> </td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                                <tr> 
                                                    <td> 
                                                                                                        Inpatient Re-admissions (30 day)<br> </td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                                <tr> 
                                                    <td>Pregnancy Admissions</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                                <tr> 
                                                    <td>Surgical Admissions</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                                <tr> 
                                                    <td>Emergency Room Admissions</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                                <tr> 
                                                    <td>2 Day Admissions (excludes Pregnancy)</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center" style="display: table-cell;">####</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                            </tbody>                                             
                                        </table>                                         
                                    </div>                                     
                                </div>                                 
                            </div>                             
                            <div class="panel panel-default" data-pg-name="Panel2"> 
                                <span class="fa btn-glyphs fa-lg pull-left fa-caret-down glyph_graphLeftButtons hidden"></span> 
                                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg hidden"></span> 
                                <div class="ln-borderRadiusTop panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"> 
                                    <h4 class="panel-title">Outpatient Hospital</h4> 
                                </div>                                 
                                <div class="panel-collapse collapse in" id="collapse2"> 
                                    <div> 
                                        <table class="table shadow table-bordered table-condensed"> 
                                            <thead class="ln-tableHeader" style="display: table-header-group;"> 
                                                <tr> 
                                                    <th class="ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Name</th> 
                                                    <th class="ln-tableHeader text-center"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Physician Observed</th> 
                                                    <th class="ln-tableHeader text-center"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Expected</th> 
                                                    <th class="text-center ln-tableHeader"> <i class="fa fa-sort pull-right fa-fw fa-border"></i>Performance</th> 
                                                </tr>                                                 
                                            </thead>                                             
                                            <tbody style="display: table-row-group;"> 
                                                <tr> 
                                                    <td>Emergency Room Visits</td> 
                                                    <td class="text-center">###</td> 
                                                    <td class="text-center">000</td> 
                                                    <td class="text-center">00.0%</td> 
                                                </tr>                                                 
                                            </tbody>                                             
                                        </table>                                         
                                    </div>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </div>         
    </div>     
</div>