<div class="col-xs-12" id="datainject_template_library"> 
    <div class="col-xs-12 ln-removeRightPadding"> 
        <div class="row text-center ln-borderRadiusTop ln-chartheader"> 
            <div class="col-xs-12 ln-RemovePadding"> 
                <span class="fa pull-right glyph_graph_RightButtons btn-glyphs fa-question fa-lg hidden"></span> 
                <h5>Available Templates</h5> 
            </div>             
        </div>         
        <div class="row ln-borderstandard"> 
            <div class="col-xs-12 ln-actionTopOffset"> 
                <div class="row hidden"> 
                    <div class="container-fluid pull-left" id="actions"> 
                        <button type="button" class="btn dropdown-toggle ln-shadowEfficiency ln-btnaction btn-sm" onclick="gotoCreateNewPeerGroup()">Create New Peer Group</button>                         
                    </div>                     
                    <div class="container-fluid pull-left ln-RemovePadding ln-GroupViewByOffset"> 
                        <div class="col-xs-12"> 
                            <div class="ln-RemovePadding"> 
                                <div class="pull-left"> 
                                    <b>Created by:</b> 
                                </div>                                 
                                <div class="pull-left ln-pos-relative"> 
                                    <a data-toggle="dropdown" href="">User 123456789</a> 
                                    <ol class="dropdown-menu list-unstyled pull-left" role="menu"> 
                                        <li> 
                                            <a>User 123456789</a> 
                                        </li>                                         
                                        <li> 
                                            <a>User 56789</a> 
                                        </li>                                         
                                        <li> 
                                            <a>User 987654132</a> 
                                        </li>                                         
                                        <li> 
                                            <a>User 56215465451</a> 
                                        </li>                                         
                                    </ol>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                        <div class="col-xs-12 ln-padding-bottom4px"> 
                            <div class="dropdown"> 
                                <div class="pull-left"> 
                                    <b>View by</b>:&nbsp;
                                </div>                                 
                                <div class="pull-left ln-pos-relative"> 
                                    <a data-toggle="dropdown" href="">All Specialties</a> 
                                    <ol class="dropdown-menu pull-left list-unstyled" role="menu"> 
                                        <li> 
                                            <a onclick="setOverallScoresProviderListSummary()">Specialty 1</a> 
                                        </li>                                         
                                        <li> 
                                            <a onclick="setOverallScoresProviderListDetails()">Specialty 2</a> 
                                        </li>                                         
                                        <li> 
                                            <a>Specialty 3</a> 
                                        </li>                                         
                                        <li> 
                                            <a>Specialty 4</a> 
                                        </li>                                         
                                        <li> 
                                            <a>Specialty 5</a> 
                                        </li>                                         
                                    </ol>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
            <div class="row"> 
                <div class="container-fluid ln-tablebutton-action pull-right hidden" id="ComparisonPGModaLink"> 
                    <button type="button" class="btn ln-shadowEfficiency ln-btnaction">Comparison Peer Group</button>                     
                </div>                 
                <div class="col-xs-12"> 
                    <div class="">
                        <table class="table ln-tabletextsize table-striped table-bordered table-condensed" id="mytemplatetable">
                            <thead class=""> 
                                <tr class="ln-tableHeader"> 
                                    <th class="mytemplate_name">Template Name</th> 
                                    <th class="LastRun ln-mytemplate_lastrun text-center">Last Run</th> 
                                    <th class="no-sort text-center mytemplate_icons ">Run</th> 
                                    <th class="no-sort text-center mytemplate_icons">Edit</th> 
                                    <th class="no-sort text-center mytemplate_icons">Copy</th>
                                    <th class="no-sort text-center mytemplate_icons">Library</th> 
                                    <th class="no-sort text-center mytemplate_icons">History</th> 
                                    <th class="no-sort text-center mytemplate_icons">Delete</th> 
                                </tr>                                 
                            </thead>                             
                            <!--Entry that has been selected !Highlighted blue selected -->                             
                            <tbody>
                                <tr>
                                    <td class="ln-nowrap mytemplate_name">123456789-123456789-123456789-123456789-</td>
                                    <td class="ln-mytemplate_lastrun text-center">11/22/2015 - 12:44 PM</td>
                                    <td class="mytemplate_icons">
                                        <img src="resources/dmc/images/run.png" width="18" class="" />
                                    </td>
                                    <td class="mytemplate_icons"><i class="fa fa-lg fa-pencil fa-fw mytemplate_icons"></i></td>
                                    <td class="mytemplate_icons"><i class="fa mytemplate_icons fa-lg fa-copy fa-fw"></i></td>
                                    <td class="mytemplate_icons"><i class="fa mytemplate_icons fa-lg fa-university fa-fw"></i></td>
                                    <td class="mytemplate_icons"><i class="fa mytemplate_icons fa-lg fa-history fa-fw"></i></td>
                                    <td class="mytemplate_icons"><i class="fa mytemplate_icons fa-lg fa-remove fa-fw"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                     
                    <div class="col-xs-12"> 
</div>                     
                </div>                 
            </div>             
        </div>         
    </div>     
</div>